[2012-09-30 13:52] trecouvr opened #3 "Config apache .dist"
Une config apache a éditer pour faire tourner le serveur en local.
Un petit dossier config avec un README dedans.

[2012-09-30 14:04] trecouvr opened #4 "loadPos for apikey or login/password"
It would be great to be able to load the pos with an apikey or a login/password pair, especially for dev.

[2012-09-30 23:33] trecouvr opened #5 "sql script to setup local db"
We need a sql dump of a db we can use in local environment.

[2012-10-04 18:55] apuyou opened #6 "Fonction pour ajouter une image"
Il faut une fonction pour pouvoir uploader des images d'articles dans  (via scoobydoo).

[2012-10-05 14:54] apuyou opened #8 "Export CA"
Une fonction dans ADDMIN pour récupérer les exports d'une fundation au choix (sur laquelle je suis admin).

Matthieu fournit une requête SQL pour commencer :

[code]

[2012-10-18 23:26] apuyou commented on #5
See #7.

[2012-10-18 23:26] #5 closed, assigned to apuyou

[2012-10-21 11:28] mattgu74 commented on #8
Amelioration de la requete

[code]

[2012-10-24 12:09] apuyou opened #14 "Blocage d'utilisateur par fundation"
Il faut pouvoir empêcher l'accès à une fondation à un utilisateur spécifique.

Supprimer les mol n'est pas une bonne idée (le compte est recréé automatiquement).

[2012-10-26 23:43] apuyou opened #15 "Messages d'erreur virement"
Les messages d'erreur lors des virements ont des caractères spéciaux non gérés

[code]

[2012-10-29 00:07] apuyou opened #17 "Ajouter des logs"
Il faudrait garder beaucoup plus de traces de l'exécution de l'application, en rajoutant des logs un peu partout.

Il est possible d'utiliser la table log existante, ou mieux une classe dédiée (type https://github.com/katzgrau/KLogger)

[2012-10-29 23:43] apuyou opened #18 "UTF8 dans la base de données"
La connexion MySQL au niveau du serveur n'est pas en UTF8, mais les données sont manipulées comme telles et aussi stockées en UTF8.

Ceci n'est pas visible si la lecture/écriture n'est faite que par le payutc, mais les données sont en réalité mal encodées dans la DB.

Il faut confirmer que tout le code est UTF8-compliant (ça pose notamment souci au niveau des `vsprintf` de la classe Mysql), puis r

[2012-10-29 23:43] apuyou commented on #15
Depends on #18

[2012-11-02 00:49] apuyou commented on #15
Fix temporaire : j'ai retiré tous les accents des messages d'erreur qui sont dans la db...

[2012-11-06 00:21] apuyou opened #20 "Update URL Ginger"
Le dépôt de ginger est maintenant dans simde-utc/ginger et non plus apuyou/ginger.

[2012-11-06 21:22] apuyou opened #23 "Affichage des messages d'erreur"
`getErrorDetails` renvoie encore du CSV. Qui utilise encore ça dans les clients ?

Le client a déjà le code d'erreur, une string du type _Titre : Message d'erreur_ me paraît largement suffisante.

C'est extrêmement moche dans casper.

[2012-11-07 10:50] #18 closed, assigned to apuyou

[2012-11-07 10:56] apuyou commented on #15
Should be fixed in #22

[2012-11-07 10:56] #15 closed, assigned to nobody

[2012-11-07 11:07] mattgu74 commented on #23
Normalement tout les clients qui utilise la fonction getErrorDetails ;)

 (un git grep dans les dépots clients sur getErrorDetails devrait vite répondre à ta question ^^)

[2012-11-07 11:55] apuyou commented on #23
Ben casper gère ça comme une chaîne de caractères dans le cas des virements.

C'est juste que ça n'avait jamais été testé vu qu'il y avait le souci de l'utf8 ^^

[2012-11-08 00:48] #20 closed, assigned to nobody

[2012-11-08 10:46] mattgu74 opened #25 "Class STATS.PHP"
Cette classe était accessible en accès libre... Cela est une énorme brèche potentielle de données.

Du coup nous avons désactivé, l'accès web à cette classe.

Il faut la protéger (cad : la rendre accessible uniquement aux utilisateurs ayant les droits super admin sur payutc)

Ensuite il faut voir si elle ne devrait pas plutôt être intégrer à AADMIN.php qui est la classe utilisé par scoobydoo. En e

[2012-11-08 11:59] mattgu74 opened #26 "Le changement de parent n'est pas encore codé..."
Dans scoobydoo lorsque l'on veut changer un produit de catégorie, on a un message d'erreur assesz explicite qui dit que le changement de parent n'est pas encore codé...

Donc voila un ticket pour qu'on y pense ;)

[2012-11-08 13:36] mattgu74 commented on #8
Tu as mis sur laquelle je suis admin dans ton ticket, mais on est bien d'accord le droit approprié c'est TRESO ?

[2012-11-08 14:01] apuyou commented on #8
Effectivement, droit TRESO.

[2012-11-20 22:42] apuyou commented on #17
Ou encore : http://www.propelorm.org/documentation/08-logging.html

(ça me paraît pas terrible de mettre les logs dans la db)

[2012-11-20 22:52] apuyou opened #31 "Nettoyage source"
Il y a des espaces en fin de lignes, au moins dans le fichier `AADMIN.class.php`.

Il faudrait tous les retirer dans un commit unique.

[2012-11-20 23:21] apuyou opened #32 "Erreurs PHP"
[code]

as well as

[code]

[2012-11-20 23:28] apuyou opened #33 "Déléguer la gestion des infos users à ginger"
Il est inutile de faire une copie de l'information dans payutc. Un seul appel à ginger peut nous donner toutes les infos dont on a besoin lors d'une transaction, sans souci de synchro :
- UID de badge
- Mineur/majeur
- Cotisant/non-cotisant

[2012-11-21 00:09] trecouvr commented on #17
Logger Propel de mon point de vue. Ca permet de logger les requêtes SQL et ça suit une interface de log classique, j'ai même l'impression que ça permet d'utiliser des trucs plus ou moins standards de PHP.

On peut rajouter un adapter pour faire un Log::log au lieu de Propel::log.

Quels logs dans la db ? Les deux libs que tu as proposées semblent permettre un log dans un fichier ou dans d'autre tr

[2012-11-21 08:10] ptbrowne commented on #31
Maintenant c'est fait non ? Dans mon commit qui a enlevé les espaces, j'ai
indiqué avec les commentaires ou était la "vraie" modif. Maintenant ya plus
d'espace, pas besoin de faire un commit dedié si ?

2012/11/20 Arthur Puyou notifications@github.com

[2012-11-21 10:11] apuyou commented on #31
Ben c'est toujours bien de faire des commit séparés pour chaque truc...
Mais après c'était surtout pour le faire à part sur les autres fichiers et
éviter que le problème ne se reproduise.

Florent a fait un script pour ça.

Arthur Puyou

2012/11/21 Patrick Browne notifications@github.com

[2012-11-21 10:24] ptbrowne commented on #31
Oui oui je sius d'accord de faire des commits separés :) Mais là j'avais
pas vu que mon éditeur l'avait fait tout seul donc j'ai la flemme de revert
les modifications et de faire deux commits separés. J'ai desactivé la
fonctionnalité dans mon éditeur.

2012/11/21 Arthur Puyou notifications@github.com

[2012-11-21 10:27] apuyou commented on #31
Ouais nan t'embêtes pas pour cette fois ;)

Arthur Puyou

2012/11/21 Patrick Browne notifications@github.com

[2012-11-21 22:43] apuyou opened #34 "Gestion des erreurs"
Il faut refaire la gestion des erreurs. Les erreurs sont liées au code donc doivent être dans le code et pas la db. Les exceptions c'est bien.

Voir https://github.com/simde-utc/ginger/blob/master/class/ApiException.class.php

[2012-11-25 23:34] apuyou commented on #8
Est-ce que c'est bon pour vous, on peut le fermer ?

[2013-01-08 00:08] trecouvr opened #38 "Ajouter un parametre de config url ginger"
Il faudrait un paramètre dans la config pour pouvoir préciser l'url de Ginger, comme celà il serait possible de donner un ginger local pour les tests.

[2013-01-16 20:56] #8 closed, assigned to nobody

[2013-01-16 21:07] apuyou opened #39 "Gestion des permissions"
Il faut refaire la gestion des permissions, en distinguant (deux tables séparées) :
- les permissions User/Fundation
- les permissions Fundation/POS

Chaque droit serait un nom sur 6 caractères.

Et il faut une classe bien faite pour gérer tous ces droits.

[2013-01-23 21:08] apuyou opened #40 "Retirer le SQL des frontales"
- [ ] Remplacer toutes les requêtes sql dans les frontales par des appels aux BOM
- [ ] Retirer les méthodes obsolètes des BOM

[2013-01-23 23:18] apuyou opened #41 "Ajouter un message aux virements"
Ça a été demandé par je ne sais plus qui, c'est assez sympa.

[2013-01-23 23:19] apuyou opened #42 "Mails"
Envoyer des mails à l'utilisateur lors d'actions importantes :
- création du compte (avec solde migré)
- virement entrant ou sortant (optionnel, avec le message de #41)

[2013-01-23 23:25] apuyou opened #43 "Définir le chemin des cookies"
Même si c'est moins primordial au niveau du serveur (c'est un client dédié et pas le browser qui va dessus), il faudrait également fixer le chemin des cookies au niveau du serveur, comme ici https://github.com/payutc/casper/commit/471a4b7631ec2c6b55ab737c04b3dd201517724b

[2013-01-24 20:19] apuyou opened #44 "Utiliser un contrôleur pour les frontales"
Plutôt que d'arriver directement sur les frontales, il faut un unique point d'entrée qui instancie la classe correspondante. Ceci permet de faire le bootstrap à un seul endroit, et permettra aussi de supporter des requêtes REST sans changer la classe (vu qu'il n'y aura plus le `wsdl.inc.php` à la fin de chaque classe).

Sur ginger, on utilise http://www.slimframework.com qui est très bien pour ça.

[2013-01-24 20:29] apuyou commented on #4
Une sorte de CAS local, qui renvoie un ticket toujours valide sans te demander de mot de passe, est-ce que ça répond à ta demande ?

[2013-02-17 13:10] mattgu74 opened #46 "[reversement_argent] Ajouter les informations bancaires des fundations"
Pour faciliter le travail de l'interface de rechargement, il est intéressant de pouvoir attacher à chaque fundation, ces informations de reversement (RIB par exemple).
Comme ça le trésorier suprême, au moment ou l'interface lui demander de reverser X d'argents à la fundation Y, il peut retrouver le RIB de l'assos facilement.

Cette feature, peut s'avérer pratique, mais n'est pas forcément nécessai

[2013-02-17 13:13] mattgu74 opened #47 "Gestion des reversements d'argent"
Il faut créer les tables qui vont bien et les méthodes qui vont avec.

Pour que :
Une fundation puisse savoir combien d'argent lui doit payutc.
Une fundation puisse consulter l'historique et les dates des reversements effectués par le trésorier suprême.
Le trésorier suprême puissent récupérer tout les historiques par fundations.
Le trésorier suprême puissent voir combien d'argent il doit à chaque

[2013-02-17 13:28] mattgu74 opened #48 "[Tache CRON] Créer un système de taches pour tout payutc"
On devrait avoir un système de tache journalisé.

Exemple de tache que l'on pourrait faire traiter par le système :
- Evaluation de l'intégrité du système (déjà fait par un script cron justement)
  => Mails d'alertes aux admins le cas échéant.
- Compte rendu journalier/hebdomadaire/mensuel/semestriel des ventes
  => Mails automatiques aux admins/trésorier des fundations
- Vérification de l'état de

[2013-02-17 13:30] mattgu74 commented on #48
Il faut reflechir, si cet outil doit être un client de payutc, ou s'il doit être intégré au server.
En l'état actuel des choses, il n'est pas possible de faire un client, sans plusieurs développement annexes (mais étant donné que ces développement sont utiles pourquoi pas...)

[2013-02-21 01:13] apuyou commented on #33
Pour cotisant et majeur/mineur, c'est dans #49.

[2013-02-21 01:15] apuyou commented on #23
Corrigé dans https://github.com/payutc/casper/pull/7

Il faut quand même vraiment uniformiser la gestion des erreurs, mais c'est l'objet de #34.

[2013-02-21 01:15] #23 closed, assigned to nobody

[2013-02-24 17:11] apuyou commented on #32
Je n'ai plus les erreurs précédentes, par contre il y a ça récemment, lié au virement dans casper :

[code]

[2013-03-01 12:57] apuyou opened #52 "Pied de ticket par défaut"
Pouvoir stocker le pied de ticket par défaut pour chaque fundation, avec une méthode pour le récupérer dans POSS2 et une pour le modifier/récupérer dans AADMIN

[2013-03-02 23:47] apuyou opened #53 "Identifier les POS avec une clé unique"
Il faut ajouter une clé secrète dans chaque POS pour l'identifier de manière unique dans le serveur.

Cf. https://github.com/buckutt/BuckUTT_depreciated/issues/33

[2013-03-03 12:22] mattgu74 commented on #47
Le trésorier suprême doit pouvoir connaitre l'argent actuellement dans payutc (Somme des comptes + reversement en attente). Et ainsi pouvoir comparer d'un seul coup d'oeil que les comptes bancaires correspondent bien.

[2013-03-03 12:26] mattgu74 opened #54 "Verification de la cohérence paybox"
Coder un script qui a chaque reception de mail "tpe-web" va comparer la somme des rechargements effectif dans payutc (pour la journée) et la somme indiqué dans le mail. Dans le cas de la moindre incohérence il faut qu'il hurle au scandale pour mettre les admin de payutc sur le pied de guerre.

Dans le cas ou les rechargements seraient plus élevés que le mail paybox, ce serait une détection de frau

[2013-03-03 12:41] apuyou commented on #54
L'idéal serait une interface permettant de rapprocher avec les CSV des opérations de paybox, ce qui est plus précis que juste le total. Comme paybox a les références de transactions et les mails, c'est top.

L'exécution d'un script à la réception du mail ça me semble chiant en plus (obligation de rajouter ça au plus haut dans la config de mail, avant le Mysql).

[2013-03-03 12:41] apuyou commented on #54
Du coup, tout comme le script qui vérifie les calculs des soldes, il faudrait le lancer à intervalle réguliers, et donc ça dépend de https://github.com/payutc/server/issues/48

[2013-03-03 22:21] mattgu74 opened #55 "class/WsdlBase.class.php Faire le ménage"
Il y'a des méthodes exposé ici, qui ne devrais pas l'être.

[2013-03-03 23:30] mattgu74 opened #56 "Gestion des droits - base de données"
Il faut définir et créer les 3 tables nécessaires à la nouvelle gestion des droits:

t_application_app => Liste des applications, au minimum on y retrouves les champs suivants:
- app_id
- URL (url du service utilisé pour le CAS)
- KEY (la clef d'api généré)
- Nom_application
- User_login (login utc de la personne ayant crée la clef)
- Last_utilisation (dernière utilisation de la clef)
- Created_da

[2013-03-03 23:32] mattgu74 opened #57 "Key_manager - exposition d'un nouveau service"
Après avoir implémenté les bases de données de #56  il faut créer un nouveau service "key_manager" qui exposera des méthodes pour créer des clefs d'appli....

[2013-03-03 23:34] mattgu74 commented on #53
Après #57, il faudra créer une clef d'api pour chaque service existant et les insérer dans leurs codes.

[2013-03-03 23:37] mattgu74 opened #58 "Gestion des droits - implémentation dans les différents services"
La solution la plus simple et la plus efficace sera d'installer la gestion des droits dans WSDLbase (la classe dont hérite tout les services, ou directement dans Slim).

Il faut que j'en parle à @trecouvr  (D'ailleurs tu pourras peut être t'assigner ce ticket ;) )

[2013-03-04 23:31] mattgu74 opened #60 "Créer un nouveau service pour la gestion des droits"
Créer un service permettant à un user ayant les droits sur ce service (un "ADMIN" de l'ancien système quoi^^) de donner des droits à des users ou des applis.

Une fois que ceci sera terminé, la classe AADMIN deviendra "Deprecated" (jusqu'à ce que tout les droits soit migrés dans le nouveau système).

Implicitement, on recode AADMIN en propre, from scratch, ce sera forcément plus propre que d'essay

[2013-03-04 23:34] mattgu74 opened #61 "Gestion des quantités"
Actuellement, il y'a une ligne par article vendu, il faudrait pouvoir gérer les quantités (notamment pour le polar qui pourrait vendre par exemple X impressions avec X une valeur pouvant atteindre plusieurs centaines...)

Cette tache est historiquement assigné à @fthevenet, qui devait l’implémenter pour le polar ^^ (Florent on t'attend :) )

[2013-03-09 15:07] apuyou commented on #55
Voir #64

[2013-03-09 15:09] #55 closed, assigned to apuyou

[2013-03-09 15:17] apuyou opened #66 "Classe DB utilisant PDO"
Écrire une nouvelle classe pour l'accès à la DB qui utilise PDO et plus l'ancienne API mysql.

[2013-03-09 15:20] apuyou commented on #6
Implementé dans #65

[2013-03-09 15:22] mattgu74 commented on #53
Finalement ceci sera géré par le système de clefs d'application que je suis entrain de faire...
Du coup ce ticket duplique une tache en cours... Je le ferme donc.

[2013-03-09 15:22] #53 closed, assigned to apuyou

[2013-03-09 21:53] trecouvr commented on #44
Done in #67

[2013-03-09 21:53] #44 closed, assigned to trecouvr

[2013-03-09 21:53] trecouvr commented on #34
Done in #67

[2013-03-09 21:53] #34 closed, assigned to trecouvr

[2013-03-09 21:55] #6 closed, assigned to apuyou

[2013-03-11 16:10] apuyou commented on #52
Il faut faire une table tickets pour les stocker, avec :
- utilisateur (pouvant être NULL)
- fondation (pouvant être NULL)
- message

Et prendre le message répondant au plus de critères possibles (utilisateur+fondation, puis utilisateur, puis fondation, puis celui par défaut).

[2013-03-11 22:51] apuyou commented on #17
https://github.com/Seldaek/monolog

Celui a l'air assez magique aussi, regardez le README !

Log dans un fichier AMHA. Ça peut être extrêmement utile par exemple de faire un log lorsqu'un badge est introuvable. Dans ce cas on lui demande l'heure à laquelle il a badgé et on retrouve l'id qui a été scanné.

[2013-03-11 23:08] apuyou opened #69 "Interface pour changer son pied de ticket"
Pour changer son propre pied de ticket soi-même, laisser une méthode permettant de le faire dans MADMIN (mais sans l'utiliser dans casper).

Voir aussi #52

[2013-03-12 19:20] trecouvr commented on #17
Y'a un logger tres bien dans Slim : http://docs.slimframework.com/pages/logging-overview/

[2013-03-12 22:14] apuyou commented on #17
Le LogWriter par défaut envoie vers stderr, donc dans les logs qui sont déjà gérées par logrotate. Ça me paraît pas le plus propre mais c'est assez pratique... Dans tous les cas on peut l'utiliser et changer le LogWriter après.

On garde quand même notre classe Log en surcouche ?

[2013-03-13 16:40] mattgu74 commented on #52
Qui s'y colle ? Je suis chaud pour faire #69, mais faut que quelqu'un fasse ce ticket d'abord ;)

[2013-03-13 16:47] apuyou commented on #52
Je suis assigned a priori :P

[2013-03-13 16:48] mattgu74 commented on #4
Il a toujours été hors de question d'introduire une backdoor, les méthodes d'auth doivent être les mêmes en dev qu'en prod, sinon on risque d'en laisser passer en pushant sur la prod.

Pour la connection "user", un faux cas est disponible depuis quelque jours:
https://github.com/payutc/faux-cas

Du coup je ferme le ticket.

[2013-03-13 16:48] #4 closed, assigned to mattgu74

[2013-03-13 16:51] mattgu74 commented on #14
Petit UP, j'attribue ça a la milestones "FIN P13".
C'est URGENT.

Il faut rédiger 3 sous-taches:
- server => Création de la db et des classes correspondantes
- server => Exposition du service (réfléchir, est-ce un service indépendant ou à coupler dans AADMIN ?)
     Je dirais que c'est un service à part, car c'est un droit différent (le droit de bloquer)
- scoobydoo => Intégrer un module pour gére

[2013-03-13 16:53] mattgu74 commented on #26
A faire lorsque qu'on remaniera la fonction concerné dans le service.

[2013-03-13 16:55] mattgu74 commented on #31
Je propose que ce ticket soit effectué à la fin de la milestones "Fin P13".

On fait passer un script pour nettoyer notre code à la fin de nos développements du semestre.
Et avoir un truc tout beau tout propre.

[2013-03-13 16:57] mattgu74 commented on #32
Je pense que la méthode getRpcUser (qui si je ne dis pas de connerie permet de faire l'autocomplétion sur les users lors du virement) et à virer. Elle est non performante et non sécurisé... Il faudrait exposer du json et limiter le nombre d'utilisateur renvoyé (ou tant que le retour est > 10, alors on renvoit rien et on laisse l'user continuer à écrire)

[2013-03-13 17:02] mattgu74 commented on #33
C'est fini ça non ?

[2013-03-13 17:03] apuyou commented on #33
Non, mineur/majeur et le statut cotisant sont délégués, mais pas le badge.

J'ai complètement réécrit la classe User pour ça, j'ai pas mal avancé dans l'Eurostar l'autre jour.

[2013-03-13 17:07] mattgu74 commented on #38
En plus il GingerClient prend en paramètre l'url dans son constructeur...
Ce n'est pas très long à ajouter à tout casse le pull request fera 1ligne (la conf) + 1lignes par création d'objet GingerClient... Donc bon allez 5lignes ^^

[2013-03-13 17:10] mattgu74 commented on #39
Ce ticket duplique les taches récemment créé concernant le nouveau système de droit #58 #57 #56 ...

[2013-03-13 17:11] mattgu74 commented on #40
- [x] Propel ayant été abandonné, ce ticket part à la poubelle ? (enfin son titre tout du moins ?)

[2013-03-13 17:15] apuyou commented on #38
Oui, c'est moi qui ai écrit ginger-client ^^

En fait je ne l'ai pas fait parce que dans la situation actuelle, il y a plusieurs appels à Ginger, donc il faudrait mettre le paramètre à plusieurs endroits. Alors c'est pas super compliqué, mais ça fait plus d'une ligne de code.

En bref, depends on #33

[2013-03-13 17:35] apuyou commented on #46
Quand tu ajoutes un RIB dans Progeliance, tu es obligé de l'enregistrer (après l'avoir validé avec le téléphone et tout). Du coup je pense que l'intérêt est plutôt limité.

Et ça nous fait stocker des données bancaires, je ne sais pas si on peut faire ça comme ça.

[2013-03-13 20:17] #39 closed, assigned to mattgu74

[2013-03-16 16:00] mattgu74 opened #70 "gestion des non cotisants"
Il faudrait lorsqu'un non cotisant se présente, qu'on lui propose de cotiser en ligne.
=> Ajouter 25€ en plus au premier rechargement
=> Faire un achat de 25€ pour la fundation BDE
=> Envoyer une requête à ginger pour changer le statut du mec.

Etant donné que ce que je viens de dire, implique des modifications en profondeur dans payutc (notamment il est difficile d'acheter un poduit sans encore a

[2013-03-17 02:02] apuyou commented on #3
La config est tout ce qu'il y a de plus standard, les trucs particuliers sont dans le `.htaccess`.

Je pense que c'est plus simple que les gens mettent chaque application dans leur `/var/www` plutôt que de fournir un fichier avec un `<VirtualHost>` et d'avoir à modifier des réglages du système.

[2013-03-17 02:02] #3 closed, assigned to apuyou

[2013-03-17 11:00] mattgu74 commented on #56
Terminé, en attente de l'acceptation du pull request #75

[2013-03-17 11:58] #56 closed, assigned to mattgu74

[2013-03-17 12:46] mattgu74 opened #77 "ServiceBase : loginCas"
Il faudrait retourner des vraies Exceptions.

[2013-03-17 12:52] #57 closed, assigned to mattgu74

[2013-03-17 13:01] apuyou opened #78 "Noms de méthodes en camelCase"
Conformément au Coding Guidelines :

C'est d'autant plus important pour les services, parce que sinon l'API n'est pas cohérente.

Je crois qu'il faut corriger à peu près toutes les méthodes de https://github.com/payutc/server/pull/76/files

[2013-03-17 13:02] mattgu74 commented on #78
Certes....

[2013-03-18 22:09] apuyou commented on #43
Abandonné parce que c'est la galère avec les URL JSON.

J'ai changé le nom du cookie dans la config du serveur, ça évite les conflits avec les autres sites.

[2013-03-18 22:09] #43 closed, assigned to apuyou

[2013-03-23 16:18] mattgu74 commented on #52
UP ?

[2013-03-23 16:23] mattgu74 commented on #14
Enfait c'est plus qu'urgent faudrait envisager ça pour ce weekend.
Je propose d'utiliser les tables groupes qu'on avait shunter mais qui existe toujours.

On pourrait faire un groupe par fondation "<fundation_name>_BANNED".
Et les méthodes qui vont bien pour bloquer/débloquer (qui créerait le groupe dynamiquement quand il n'existe pas)

Du coup dans Buy.class.php faudra tester à l'achat si le mec

[2013-03-23 17:26] apuyou commented on #14
Perso je préfère une nouvelle table dédiée à ça, pour ne pas changer la façon d'utiliser les tables existantes.

[2013-03-23 17:34] mattgu74 commented on #14
Taches à venir
- [x] créer la table `tj_usr_fun_blocked_blo` (`blo_id(int autoincrement)` et `usr_id(int)` et `fun_id(int NULL)` et `blo_raison (varchar)` et `blo_insert(datetime)` et `blo_removed(datetime)`)
- [x] créer la classe Blocked (Tout la partie "sql")
- [x] appeler Banned depuis les endroits ou l'ont fait des ventes
- [x] créer le service Blocked
- [x] scoobydoo ajouter un module pour gé

[2013-03-23 18:07] apuyou commented on #69
@alecalve a déjà fait une interface pour modifier le pied de ticket dans la table `users`, il reste à l'adapter quand #52 aura été fait.

[2013-03-23 18:45] apuyou opened #88 "Gérer les fatal error dans slim"
Il faut lancer une exception en cas de Fatal Error pour que Slim puisse les attraper et faire mieux que renvoyer une page blanche.

http://stackoverflow.com/questions/277224/how-do-i-catch-a-php-fatal-error

[2013-03-23 19:47] trecouvr commented on #14
ouai je viens de me sourvenir Margo m'en a reparlé, en plus apparement avant y'avait un bug, quand le mec se faisait ban, puis re-allait sur payutc (casper) il pouvait réouvrir un compte et regagner sa thune de l'ancien semestre...

[2013-03-23 19:52] trecouvr commented on #14
- Je valide la table, par contre est-ce que on pourrait faire attention à standardiser le nom des datetime pour ajout/suppression ? faudrait pas qu'on ai insert à des endroits et added ou date_insert à d'autres.
- Pour la class Blocked je pense que ça sert à rien, fais une méthode dans user.
- Le service blocked why not, je vois pas dans quel module actuel ça pourrait rentrer

[2013-03-23 19:55] mattgu74 commented on #14
Bah le service c'est un droit, après il est utilisé dans scoobydoo avec un
module pour gérer les blocages.

Tu proposes quoi comme standardisation des noms ?

Pour la classe Blocked, elle sera pas très longue, mais ça permet de rester
cohérent et de savoir ou sont définis nos requetes sql etc...
Je prefere avoir ce truc séparé de l'user enfait.

Le 23 mars 2013 20:52, Thomas Recouvreux notificatio

[2013-03-23 20:04] apuyou commented on #14
Hum moi je trouve que ça a du sens de mettre le contrôle de si un user est bloqué dans la classe User, ça évitera d'instancier Blocked pour ça.

On a besoin de la classe pour tout ce qui ajout/suppression de blocages par contre (donc changeons son nom : block, blocage... ?)

Arthur Puyou

Le 23 mars 2013 à 19:55, Matthieu Guffroy notifications@github.com a écrit :

[2013-03-23 20:07] trecouvr commented on #14
Je propose added et removed, mais ça n'engage que moi.

C'est juste que je trouve plus simple de faire `$usr->isBlocked($fun)` que `Blocked::userIsBlocked($usr, $fun)`, mais encore une fois ça n'engage que moi, et rien ne t'empêche d'utiliser ta class Blocked dans la class User. D'ailleurs ça se pourrait qu'on est besoin desfois de savoir si un user est blocké sans forcément créer un objet User au

[2013-03-24 02:49] apuyou opened #94 "Méthode getServices"
Méthode pour que scoobydoo puisse récupérer les services accessibles pour un utilisateur pour générer son menu.

Une fois fait, il faut retirer les classes exposées permettant de vérifier les droits, elle n'auront plus besoin que d'être appelées en interne.

[2013-03-24 03:01] apuyou opened #95 "Passe-partout service dans les droits"
Dans la table des droits, le passe-partout pour les services est `"ALL"`. Partout ailleurs, on utilise `NULL`.

https://github.com/payutc/server/pull/91/files#r3502808

Why ? :confused:

[2013-03-24 03:06] mattgu74 commented on #95
Enfait on utilise nul part ailleurs NULL ... (enfin pour tout ce qui est droit)

NULL était effectivement la première idée, mais je ne la sens pas trop.

[2013-03-24 03:11] #78 closed, assigned to mattgu74

[2013-03-24 03:13] #60 closed, assigned to nobody

[2013-03-24 03:15] mattgu74 commented on #25
Enfait il faudrait surtout anonymiser les données pour commencer et on verra quel règle d'accès à donner ensuite.

[2013-03-24 12:49] trecouvr opened #98 "POSS2->loadPos without CAS"
Trouver un moyen de load sans CAS pour les unittests.

[2013-03-24 13:54] trecouvr opened #100 "mauvais comportement de POSS2->getImage64 quand l'id n'existe pas"
POSS2->getImage64 devrait renvoyer "Image non trouvée", au lieu de ça une exception (ou une erreur) est lancée, avec un message bas niveau "imagecreatefromstring(): Empty string or invalid image"

[2013-03-24 13:55] mattgu74 commented on #98
Tu peux pas faire les unittest avec faux cas ? (Même une version encore
mieux qui ne demande rien et autoload un login)
Le 24 mars 2013 13:49, "Thomas Recouvreux" notifications@github.com a
écrit :

[2013-03-24 13:59] trecouvr commented on #98
Bah j'aimerai ne pas être dépendant d'un serveur web ni d'une config local...

[2013-03-24 14:14] mattgu74 commented on #98
Hum je ne suis pas sur de comprendre ce que tu veux faire.
Mais dans tous les cas on ne peut pas mettre de "backdoor" c'est trop dangereux si on l'oublie à la mise en prod.

De toute façon fais toi pas chier avec POSS2, on va la jarter en récrivant bien les services de ventes (tu vas kiffer mon idée) et je suis sur que comme elle sera bien mieux écrite tu pourras la tester comme tu en as envie.

[2013-03-24 18:15] apuyou opened #103 "Gestion de la TVA"
Pour chaque article en vente, il faut pouvoir assigner une TVA. Au niveau de scoobydoo, il faut pouvoir choisir parmi les valeurs courantes :
- 0 %
- 5,5 %
- 7 %
- 19,6 %

Cette TVA doit être calculée au moment de l'export pour chaque ligne (donc une nouvelle colonne). Puisque l'on travaille avec des prix TTC, on peut calculer la TVA avec la formule `MontantTVA = PrixTTC - PrixTTC/(1 + TauxTVA)`

[2013-03-24 18:22] apuyou opened #105 "Placement des articles"
Pouvoir attribuer une priorité aux articles qui détermine leur emplacement sur les points de vente.

Il y a déjà une table `tj_obj_poi_jop`, il faut voir si on veut la réutiliser.

Au passage, ne pas placer un article sur la grille permettrait de le désactiver.

[2013-03-28 21:27] mattgu74 opened #110 "Gestion des stocks"
Actuellement la gestion des stocks est un simple "int" dans la table des articles.

Je pense que l'on devrait avoir une table des gestions des stocks, pour permettre de sauvegarder les informations suivantes:
- A la date T, on fait l'inventaire et on enregistre la valeurs des stocks
  - remise à la bonne valeur des compteurs dans la table articles
  - sauvegarde de la date d'inventaire avec sa val

[2013-03-28 21:41] mattgu74 commented on #32
C'est réglé ça non ?

[2013-03-28 21:47] mattgu74 commented on #77
En fait Thomas, je ne t'avais pas assigner pour rien, je suis preneur de ta pull-request pour voir les "good practices" et savoir ou est comment déclarer les Exceptions que l'on doit renvoyer.

Parce que moi depuis le début je fait throw/raise Exception("Mon message");   (excuse le throw/raise à force de coder en python/javascript/php je ne sais plus lequel va ou ^^)

Mais bref, c'est un exemple s

[2013-03-29 16:29] trecouvr commented on #77
Batard ! ^^

[2013-03-30 19:08] apuyou commented on #32
Non, c'est un bug dans MADMIN qui ne vérifie pas si le User est null ou pas
avant d'appeler des méthodes dessus.

[2013-03-31 01:12] mattgu74 commented on #32
Dans ce cas, tu peux mettre cette tache en "waiting on" du fait de venir
mettre la nouvelle gestion des droits.
Etant donné que la fonction qui gère les droits s'assure d'avoir un user
chargé ça fera "la correction" tout seul.

##

Matthieu GUFFROY

Président du SiMDE assos.utc.fr/simde
http://wwwassos.utc.fr/simdePrésident de SkiUTC 2013
Responsable informatique du Pic'asso (Foyer étudiant)
Respo

[2013-04-02 13:05] apuyou commented on #110
Pour info, au Polar, je gère tout ça dans la table articles, qui est une table type "wiki" (ça a peut être un nom officiel, mais en gros ça veut dire qu'on ne fait pas d'update dessus).

En gros, à chaque fois qu'on édite un article, on n'update pas mais on rajoute une ligne avec les nouvelles données. On donne un code unique à chaque article lorsque l'on regarde cette table, on prend la ligne la

[2013-04-04 15:51] mattgu74 opened #112 "Annulation de vente"
Permettre au tresorier d'une fundation d'annulé des ventes. (Plus vieux que le droit de 10minutes accordés aux vendeurs).

Et faire l'interface qui va bien avec dans scoobydoo.

Dans le cas d'annulation de ce type de vente, spammer tout les admins de la fundation pour que tout le monde soit au courant qu'une vieille vente à été annulé et éviter les abus en surveillant ainsi les actions critiques d

[2013-04-06 17:30] #100 closed, assigned to apuyou

[2013-04-07 16:04] mattgu74 commented on #25
Je m'en occupe.

[2013-04-07 16:23] #46 closed, assigned to nobody

[2013-04-07 16:38] mattgu74 commented on #26
Ne pas oublier de s'assurer que l'on ne change pas de fundation.

[2013-04-07 17:30] #88 closed, assigned to trecouvr

[2013-04-07 17:56] #32 closed, assigned to apuyou

[2013-04-07 19:30] apuyou commented on #14
Done in #122

[2013-04-07 19:30] #14 closed, assigned to mattgu74

[2013-04-08 10:17] trecouvr commented on #17
Yop actuellement dans le PR j'ai utilisé le LogWriter de \Slim\Extras, il permet de logguer dans un fichier et de formatter le message, par default c'est (LEVEL - DATE - message). Bon ça reste basic mais je pense que ça fait ce qu'on veut. Après pour aller plus loins y'a monolog, et même encore plus fort monolog + new relic http://odino.org/using-monolog-for-php-error-reporting-on-new-relic/

[2013-04-12 14:36] MiLk opened #125 "Transactions"
Suite à une remarque de John, je me suis intéressé aux transactions sur PayUTC.
Il semble qu'il en manque quelques unes non critiques liées à l'intégrité des données.

N'ayant aucune connaissance du fonctionnement du serveur certaines remarques ne sont peut-être pas pertinentes.

https://github.com/payutc/server/blob/master/class/Buy.class.php#L134
Un UPDATE suivi d'un INSERT.
Si l'INSERT échoue,

[2013-04-12 14:39] mattgu74 commented on #125
Je dirais que ça va avec #66

[2013-04-12 14:40] apuyou commented on #125
Le code que tu cites n'est actuellement pas utilisé, mais on a effectivement quelques soucis transactionnels à ce niveau là : https://github.com/payutc/server/blob/master/src/Payutc/Service/POSS2.php#L360

Je penserai à mettre des méthodes pour gérer des transactions au moment de faire la surcouche à PDO. Mais il faut quand même garder cette issue pour penser à vérifier qu'il n'y a pas de soucis a

[2013-04-14 13:29] trecouvr opened #126 "Remove unused methods in User"
- hasDroit
- isSeller

[2013-04-14 13:30] mattgu74 commented on #126
dans payutc non, mais dans buckutt oui... Au début on avais décidé de conserver la compatibilité avec eux, mais bon la on est partie tellement loin, qu'effectivement je pense qu'on va pouvoir prendre la décision de jarter tout ce qui concerne buckutt exclusivement.

[2013-04-14 14:56] mattgu74 commented on #98
Je close l'issue, parce qu'elle ne sera jamais réalisé en tant que tel.
1. Cette classe sera bientôt deprecated. Il n'est donc pas prévu d'updater POSS2 avec de nouvelles fonctionnalités.
2. Il n'y aura jamais de backdoor (c'est trop risqué de l'oublier un jour en passant en prod), les services impliquent des users loggués. Donc pour tester, il te faut un faux-cas qui valide tout.
3. Les services

[2013-04-14 14:56] #98 closed, assigned to nobody

[2013-04-14 14:58] mattgu74 commented on #17
On peut savoir pourquoi tu as réouvert l'issue (en fait je me doute de la réponse, mais pas forcément tout les gens qui lisent le thread) ?
Et également, vu que tu t'es dés-assigné, les taches restantes à faire pour clore cette issue ?

[2013-04-14 15:08] trecouvr commented on #17
J'ai ré-ouvert parce que l'issue c'est "ajouter des logs" je pensais que c'était "remplacer la classe de log".
Ce qu'il reste à faire c'est donc ajouter des logs maintenant qu'on a une classe qui log dans un fichier. Comme je suis loins de connaitre toutes les classes du serveur je laisse chacun ajouter des logs là où il le juge utile.

[2013-04-15 11:13] trecouvr commented on #42
Vous en pensez quoi de ça : https://github.com/PHPMailer/PHPMailer ?
Ou celui ci : https://github.com/swiftmailer/swiftmailer.

[2013-04-15 14:32] apuyou commented on #42
swiftmailer est beaucoup plus utilisé d'après packagist (mais c'est peut être parce que c'est le truc officiel de symfony).

[2013-04-16 16:47] trecouvr opened #134 "Put Configuration in an autoload Class"

[2013-04-16 17:08] apuyou commented on #134
En fait, pour détailler un peu, la config est actuellement dans une variable globale qui est pas terrible à utiliser.

Il faut faire une classe statique qui permet d'accéder à la config et est chargée par l'autoloader (du style \Payutc\Config tout simplement).

[2013-04-16 20:33] trecouvr commented on #134
En fait, plus que de la mettre dans une classe et de faire des autoload, faudrait la supprimer de toutes nos classes, c'est dégueux de mélanger de la config à des méthodes de classes, ce que t'as besoin de la config tu le files au constructeur de ta classe...
Après autoload c'est du bonus mais ça devrait même pas être le problème principal.
De mon point de vu les seules classes qui devraient utili

[2013-04-20 13:05] mattgu74 commented on #112
Cela pose un problème "vie privée",
ce ticket implique d'écrire un service (et donc un droit) qui permet de voir l'historique des ventes "nominativement".

Veux-t'on que les responsables d'associations, puissent ressortir qui a acheté quoi et quand ?

En soit, je dirais que pour le pic, à moins de bidouiller dans la db, il n'a jamais été possible de le faire et ça n'a jamais manqué à personne (sau

[2013-04-20 13:54] apuyou commented on #112
Au Polar tu peux facilement retrouver l'historique des commandes d'une personne, mais bon pour moi c'est pas vraiment un souci. À mon avis c'était possible dans Monewin aussi, non ?

Je dirais qu'il faut juste pas donner le droit à n'importe qui, faire un filtre obligatoire par produit par exemple, ça va juste être pénible pour l'utilisateur, sans empêcher de faire des requêtes en masse s'il a vra

[2013-04-20 15:20] mattgu74 opened #139 "Ajouter une colone 'inserted' dans les tables de droit"
Actuellement on sait quand un droit à été supprimé mais pas quand il a été inséré.

Le jour ou il y'aura un problème avec quelqu'un qui abuse de ces droits dans une fundation, on ne pourra pas forcément dire si oui ou non une personne avait le droit de faire ce qui a été fait ou non. (Et si donc potentiellement elle fait partie des suspects ou non...).

Du coup il faudrait ajouter un champ inserte

[2013-04-21 12:39] mattgu74 opened #141 "ServiceBase: transformer $this->user en $this->user()"
Il faut arrêter d'utiliser $this->user (le virer de la classe (et des services qui en hérite))

Pour a la place utiliser $this->user() qui serait une méthode renvoyant $_SESSION['ServiceBase']['user']

Il faut faire la même chose avec $this->application

[2013-04-21 14:30] mattgu74 commented on #95
Bon suite au début d'utilisation des NULL pour les fun_id ou j'ai finalement utilisé "NULL" dans les communications.

Il faut passer par 0 ou -1 dans les communications et stocker des vrais NULL dans la db.

ça implique de revoir dev_structure.sql pour autoriser le champ service dans les tables de droits à être à NULL et revoir 2/3 requetes sql. + revoir deus trois passages de parametres entre sco

[2013-04-23 21:33] trecouvr opened #142 "Clean le retour de getBuyerInfo"
- Renommer last_purchase en last_purchases
- Enlever le dédoublage des index (numérique + string) qui est retourné par PDO

[2013-04-28 13:03] mattgu74 commented on #94
#137

[2013-04-28 13:03] #94 closed, assigned to trecouvr

[2013-04-28 13:05] mattgu74 commented on #69
Le label "waiting on" c'est pour quoi ? C'est en attente de quoi cette issue ?

[2013-04-28 13:32] apuyou commented on #52
Les modifs sur AADMIN n'ont pas été faites, donc c'est pas fini.

[2013-04-28 13:32] apuyou commented on #69
En attente de #52

[2013-04-28 13:34] mattgu74 commented on #52
Bah nan, l'interface c'est #69, qui n'attend plus rien de ce ticket.
Les pied de ticket par défaut sont géré dans #111 et ça a été mergé. Donc pour moi ce ticket et terminé.

Et #69 n'a plus a attendre celui la.

[2013-04-28 13:37] apuyou commented on #69
Fait dans #87

[2013-04-28 13:37] #69 closed, assigned to alecalve

[2013-05-01 13:02] mattgu74 opened #144 "Trouver un ORM léger et potable"
Tout est dans le titre.

Je ne pense pas qu'on veuille d'une grosse usine à gaz.
Du coup j'ai commencé à regarder et j'ai trouvé ça:

https://github.com/j4mie/paris

Bon bien sur, faut encore chercher et écouter les propositions de tout le monde.
Je ne pense pas qu'il faille se jeter sur le premier venu, donc j'ai attaché ça à la milestone r13 qui est dans 2 mois, ça nous laisse le temps de réfléc

[2013-05-01 14:49] #77 closed, assigned to trecouvr

[2013-05-01 14:54] mattgu74 opened #145 "Coder le service GESARTICLE"
Plutôt que de faire des choses inutiles pour #26
Autant attaquer directement en codant le nouveau service.

[2013-05-01 16:15] trecouvr commented on #144
A voir si ça supporte les requetes complexes entre plusieurs tables

[2013-05-01 21:08] trecouvr commented on #144
Je pense qu'on peut oublie idiorm et paris, domage ils avaient l'air pas mal. http://stackoverflow.com/questions/12597197/how-to-retrieve-information-from-an-association-table-using-idiorm-and-paris-wit

[2013-05-01 21:23] apuyou commented on #144
Si vous êtes fans d'ActiveRecord, on peut tout recoder en Ruby.

----->[]

Sérieusement, avec le temps qu'on a déjà passé sur les ORM, la proposition de Thomas me paraît la moins aberrante... Avec les requêtes préparées de PDO ça nous ferait un truc simple à utiliser, performant et secure.

[2013-05-01 23:26] trecouvr commented on #144
http://fluentpdo.com/documentation.html
http://idiorm.readthedocs.org/en/latest/querying.html
http://codehappy.daylerees.com/fluent-query-builder (laravel le retour ? xD) http://laravel.com/docs/database/fluent

Les 3 me semblent pas trop mal niveau query, c'est une syntaxe proche du sql et des retours simples.
Pour fluent PDO malheureusement y'a pas de doc pour les update/insert, je me demande mê

[2013-05-02 10:28] trecouvr commented on #144
Yop,

Voilà mes premiers retours:
- FluentPDO semple encore en dev, pas assez de doc, pas assez connu
- idiorm ne semble pas supporter les "nested where", faire un WHERE (a AND b) OR (c AND d) c'est pas supporté, faut faire du raw_query ce qui pue.
- Fluent query builder me semble bien, mais il est pas stand alone...
- Doctrine DBAL, je vais essayer celui là, il possède un query builder, et y'a pa

[2013-05-11 14:33] #134 closed, assigned to trecouvr

[2013-05-16 17:39] trecouvr opened #149 "Remove return statement in ServiceBase.class.php$checkRight"
Remove useless and confusing return statement in function server/class/ServiceBase.class.php, in method checkRight.

[2013-05-18 18:06] mattgu74 opened #150 "Transformation d'erreur en exception"
Dans src/Payutc/Bom/Product.php qui va bientôt arriver dans l'une de mes futures PR.

J'ai repris du code de AADMIN, et tout les retours d'erreur sont en
return array('error'=>400, 'error_msg'=>"Message d'erreur");

Comme ce n'était pas mon objectif que de passer la dessus, j'ai laissé ça comme ça pour l'instant. Mais le json-client n'aime pas trop et du coup les erreurs ne sont pas au top dans sc

[2013-05-18 18:08] mattgu74 opened #151 "Le changement de prix n'est pas encore codé"
En même temps que le changement de parent qui n'est pas encore codé.

Il faudrait implémenter le changement de prix.

[2013-05-18 19:47] mattgu74 opened #152 "Image: Changer le type du champ "removed" à datetime au lieu de tinyint"
On préfére avoir des dates, plutot que des booléens pour le champ removed.

Et tant qu'on y est, insérer un champ "inserted" pourrait être utile aussi.

[2013-05-18 19:53] mattgu74 opened #153 "Lors de la suppression d'un article, supprimer le prix associé"
En migrant AADMIN vers GESARTICLE et en créant la classe Product.

Je me rends compte, que lors de la suppression d'un article, le prix qui y est associé n'est pas supprimé... Il faudra penser à le faire.

[2013-05-18 19:55] mattgu74 commented on #153
Ainsi que l'image s'il y'en a une.

[2013-05-18 22:07] mattgu74 commented on #145
DONE in #140

[2013-05-18 22:09] mattgu74 commented on #141
En attende de l'acceptation de la PR #143

[2013-05-18 22:12] mattgu74 commented on #58
Cette issue est terminé depuis longtemps.

Dans ServiceBase une méthode `checkRight` a été ajouté, il faut l'appeler dans les méthodes des services ou les droits sont restreints (elle jette des exceptions donc interromps la fonction directement).

[2013-05-18 22:12] #58 closed, assigned to nobody

[2013-05-18 22:17] mattgu74 commented on #26
Résolu dans la PR #140

[2013-05-18 22:24] mattgu74 commented on #151
Fixé dans #140

[2013-05-19 13:43] #141 closed, assigned to mattgu74

[2013-05-19 17:47] #26 closed, assigned to mattgu74

[2013-05-19 17:47] #95 closed, assigned to mattgu74

[2013-05-19 17:47] #151 closed, assigned to mattgu74

[2013-05-19 17:58] #145 closed, assigned to mattgu74

[2013-05-20 13:25] mattgu74 commented on #105
la table `tj_obj_poi_jop` permettait de faire la liaison entre un objet et un poi.
Or depuis les nouveaux droits la notion de poi est deprecated.

LA colonne `jop_priority` aurait pu nous permettre de faire de la bidouille pour définir le positionnement sur mozart.

Mais bon... Je ne suis pas convaincu.

Je propose que l'on supprime définitivement cette table inutilisé et que l'on envisage la créa

[2013-05-20 18:02] trecouvr commented on #105
Euh je pense qu niveau hierarchie faut plutôt faire : paramètres de l'objet écrasent/complètent paramètres du parent.

Pour ta table obj_activate y'a quoi dedans à part un bool ? si y'a juste un bool autant faire une nouvelle colonne dans la table objet.

Pour jopos cette table est chelou et son but flou. On pourrait l'appeller table de meta donnée et foutre du json dedans, comme ça on pourrait me

[2013-05-24 16:43] mattgu74 opened #154 "Gestion de la confidentialité"
Permettre via MADMIN et casper de specifier si l'on veut apparaître dans les stats que les fundations peuvent récupérer.

[2013-05-24 16:47] mattgu74 opened #155 "Permettre la suppression de son historique"
Un utilisateur doit pouvoir demander l'anonymisation de ces données antérieurs à un certain laps de temps (je propose 6 ou 3mois).

Je pense que l'on doit par défaut conserver l'historique des utilisateurs tant qu'il est utcéen et l’anonymiser le semestre après son diplôme. (En effet certain et peut être même beaucoup, trouveront ça cool de pouvoir conserver leurs 5ans d'historiques pour voir leur

[2013-05-24 17:40] trecouvr opened #156 "Renvoyer la date de la transaction dans last_purchase"

[2013-05-24 17:41] trecouvr opened #157 "Créer une méthode dédiée pour récupérer les dernières transactions"
Les récupérer via user get infos ça pue.

[2013-05-24 18:51] mattgu74 commented on #144
#147 accepted

[2013-05-24 18:51] #144 closed, assigned to nobody

[2013-05-24 18:54] mattgu74 opened #158 "Remplacement de Db_Buckutt par doctrine dbal"
Suite à l'issue #144 (Trouver un ORM léger et potable)

La PR #147 à introduit doctrine dbal, qui n'est pas tout fait un orm, mais un moyen de construire plus proprement nos requêtes SQL (un QueryBuilder en gros).

Il faut donc repasser dans le code et l'utiliser partout à la place de Db_Buckutt::get_instance()... et de nos requêtes construites à la main...

[2013-05-24 18:56] mattgu74 commented on #40
Penser à #158 au moment du déplacement des requêtes.

[2013-05-24 18:57] mattgu74 commented on #157
Dans quel service, quel fonction ? ça se trouve ou dans quel fichier ?
:)

[2013-05-24 18:57] mattgu74 commented on #156
Quel service, quel méthode ?

[2013-05-24 19:44] trecouvr commented on #156
Poss2 get buyer info

[2013-05-24 22:14] trecouvr commented on #157
Peut importe ou ira cette méthode, il en faut une dédiée, actuellement c'est la fonction qui renvoie les infos sur un user qui envoie les dernière transactions (dans POSS2 en tout cas).

[2013-05-25 10:39] mattgu74 opened #159 "Migration DB et redaction de la structure"
@apuyou m'a parlé l'autre du jour du fait que tout comme on utilise doctrine-dbal pour construire nos requêtes.

Il existerait un composant de doctrine qui est récupérable séparément qui permettait de réaliser les migrations de DB. (Et je suppose permet d'écrire la structure de notre DB de manière plus élégantes qu'en ayant un dev_structure.sql qui traine dans le dépot)

Actuellement à chaque pull

[2013-05-25 12:00] apuyou commented on #105
Je trouve bizarre les noms des tables, si c'est une table de jointure, il faut indiquer le nom des deux tables que l'on joint dedans, donc si on lie des objets à des apps, ça donne `tj_obj_app_oap`. La logique de Thomas est pas mal : un client peut avoir à stocker des méta-données spécifiques au client, choses que le serveur ne peut pas prévoir, donc on peut dans cette unique table mettre toutes l

[2013-05-25 12:03] apuyou commented on #159
La page du projet : http://www.doctrine-project.org/projects/migrations.html

J'ai remis les migrations en état sur le portail cette semaine, c'est assez cool quand ça marche bien (ça résiste même aux branches et tout, il utilise un timestamp pour créer les numéros de versions).

[2013-05-26 13:19] mattgu74 commented on #25
Voici des specs pour ce service.
https://docs.google.com/document/d/1Ir7hQsLljQ-lg5eywr8MN8x-IMZbEe7a9Pv7uOAb1Mg/edit?usp=sharing

Ce ticket couvre l'implémentation du service de base et de la première méthode urgente `getNbSell()`
Ensuite chaque méthode, présenté dans les specs fera l'objet d'un nouveau ticket.

[2013-05-26 16:59] #25 closed, assigned to mattgu74

[2013-05-26 19:33] trecouvr commented on #159
On install Doctrine quoi ^^

[2013-05-29 14:12] apuyou commented on #66
Est-ce qu'on considère qu'à terme on veut du DBAL uniquement, et donc on peut fermer cette tâche ?

[2013-05-31 15:31] mattgu74 opened #167 "PAYBOX vérifier pbx_auth en prod"
En prod il faut s'assurer que pbx_auth != 'XXXXXX' !!!

[2013-06-01 12:37] mattgu74 commented on #66
:+1:

[2013-06-02 17:16] apuyou opened #168 "Erreur méthode messages perso"
Il y a plein d'erreurs comme ça sur le code de la r9 :

[code]

@mattgu74 a fait un patch pour éviter que ce soit bloquant et qui est en prod, mais il faut corriger ça.

[2013-06-02 17:17] apuyou opened #169 "Notice sur User"
J'ai également ça depuis la r9 (c'est surement lié à #168) :

[code]

[2013-06-03 22:24] #66 closed, assigned to apuyou

[2013-06-03 22:27] apuyou commented on #167
Je viens de comprendre ce que tu voulais dire par là, et ça me paraît une idée top effectivement.

Je propose d'utiliser le `PBX_SITE` plutôt que les paramètres de `slim_config` pour savoir si on est en prod ou en dev, vu que c'est lié à paybox ça devrait être suffisant (et même plus propre).

[2013-06-04 06:32] mattgu74 commented on #167
L'idée c'est d'avoir un "failback" si on oublie de configurer le pbx-site
(ou si on le configure mal) je trouve donc pas top de se baser dessus.

[2013-06-04 08:59] apuyou commented on #167
Tu proposes quoi du coup ? Je trouve ça chiant de rajouter encore un paramètre supplémentaire.

On pourrait n'accepter les XXXXX que si le `PBX_SITE` est celui du site de test. Du coup, si tu changes la config pour mettre ton `PBX_SITE`, c'est que tu t'attends à avoir un vrai numéro d'autorisation en retour. Si le `PBX_SITE` est mauvais, je ne vois pas trop comment on pourrait le détecter (tu vas

[2013-06-04 18:44] mattgu74 commented on #167
C'est une première idée.

[2013-06-09 12:06] #167 closed, assigned to nobody

[2013-06-09 15:16] mattgu74 commented on #153
Lorsque cette issue sera faite, penser à updater /src/Payutc/Bom/Products.
En effet comme vue lors de l'acceptation de #175, les méthodes qui récupére les objets et leurs prix, font un join sans imaginer qu'il soit possible qu'un article ait plusieurs prix (les anciens étant supprimés).

[2013-06-10 23:48] apuyou opened #180 "Implémenter la notion de semestre"
Il y a un TODO à cet endroit qui nécessite d'implémenter la notion de semestre (pour remplacer un switch avec des dates statiques) : https://github.com/payutc/server/pull/173/files#L1R43

Je ne sais pas si c'est vraiment nécessaire d'avoir une table, on peut effectivement calculer ça de manière assez prévisible. Genre, une fonction que j'avais faite (même si elle fait l'opération inverse) :

[code

[2013-06-11 08:57] trecouvr commented on #180
+1 pour que le serveur n'implémente pas la notion de semestre. A la limite le client pourrait le gérer avec une fonction qui calcul tout seul.

[2013-06-15 14:45] mattgu74 opened #183 "Case Alcool"
Durant ma démonstration de scoobydoo au président de la sdf,

je me suis rendu compte que la case alcool se décochait/n'était plus prise en compte...
Il y'a surement un bug entre le scoobydoo actuellement en prod et le server. Mais je ne peux pas dire si c'est un bug dans le nouveau GESARTICLE ou dans scoobydoo (Je penche quand meme plus sur GESARTICLE)

[2013-06-15 15:20] mattgu74 opened #184 "Reecriture du service TRESO pour supporter les nouveaux droits"
C'est insuportable quand on fait la formation des nouvelles fundations de devoir leur expliquer les deux modules de droits, il faut donc migrer le service (et scoobydoo du coup).

[2013-06-15 15:22] mattgu74 opened #185 "POSS3 ou VENTEPHYSIQUE"
Il est urgent d'implémenter un service de vente physique qui utilise les nouveaux droits, pour pouvoir définitivement supprimer l'ancien modèle de droits.

(Et donc l'implémenter dans mozart et pauline)

Je pense que passer par POSS3 est une étape qui vas nous faire perdre plus de temps qu'autre chose, l'écriture de VENTEPHYSIQUE et VENTEWEB proprement en héritant d'une classe commune ServiceVente

[2013-06-15 15:45] trecouvr commented on #185
Je pense que vu que POSS3 est déjà codé ça va pas nous faire perdre du temps, d'autant plus que pour faire ventephysique et venteweb t'aura juste à copier coller le code fait dans POSS3.

[2013-06-15 15:48] mattgu74 commented on #185
Je parle de l'implémentation dans Pauline et Mozart.

Il vaut peut être mieux faire les copier/coller maintenant que de se
précipiter sur pauline et mozart, non ?

[2013-06-15 17:00] trecouvr commented on #185
Je pense pas. Pour Pauline (et pour mozart ça doit être pareil), y'a trois trucs à faire:
- Changer le endpoint vers POSS3 (les méthodes restent les même, donc à part changer un nom dans une config tout reste pareil)
- Rajouter les méthodes d'interaction avec KEY
- utiliser loginCas et loginApp à la place de loadPos, faire le symétrique pour la deconnexion

Si on liste le travail à faire pour vent

[2013-06-15 17:03] mattgu74 commented on #185
moai bon mozart on a le temps, le pic ferme jeudi et ne rouvre pas avant
2014 donc on aura tout le temps de s'en occuper cet été et en attendant on
peut laisser POSS2 tourner en // de POSS3.

Mais ok ton argument de palier me va, je vais donc me mettre a relire
poss3, tu valides que pour toi elle est prete à merge ? (Tu as codé un
client qui l'utilise ?)

[2013-06-15 19:56] mattgu74 opened #188 "GESARTICLE: Mettre des exceptions en retour à la place des arrays"

[2013-06-15 21:51] mattgu74 commented on #183
FIX by https://github.com/payutc/scoobydoo/pull/37

[2013-06-15 21:51] #183 closed, assigned to nobody

[2013-06-15 23:38] mattgu74 commented on #185
Actualisation: POSS3 est en cours d'implémentation sur pauline par @trecouvr

Pour mozart, on verra mais il en est à deux générations de services en retard... (Il est encore en soap, n'est pas pas passé au json-client, et gère encore moins les exceptions...)
Portage prévu dans l'été, mais non prioritaire, car il devrait rester inutilisé pendant les prochains 6 mois.

[2013-06-15 23:39] mattgu74 commented on #52
@alecalve on en est ou de l'implémentation dans scoobydoo de la gestion du pied de ticket pour que les fondations puissent personaliser les messages ?

[2013-06-15 23:43] mattgu74 opened #191 "LoginApp - updater le champ app_lastuse"
Un champ app_lastuse à été crée lors de l'implémentation du nouveau concept d'application pour la gestion des droits, mais ce champ n'est malheureusement pas mis à jour par loginApp...

[2013-06-15 23:44] mattgu74 commented on #188
#150 parlait déjà de ça... Vu que ça fait deux fois que j'en parle, je me l'assigne et le met en prioritaire

[2013-06-15 23:45] mattgu74 commented on #169
On attend la mise en prod, pour valider le fait que ça fixe le problème ou on peut fermer l'issue ?

[2013-06-15 23:46] mattgu74 commented on #180
Ok vous avez gagné, on ne gérera pas les semestres, je vais mettre des vrais date et limiter à une plage de un mois.

[2013-06-15 23:47] mattgu74 commented on #157
As tu repensé à ça dans POSS3 ?

[2013-06-15 23:48] trecouvr commented on #157
Raaaah non j'avoue je voulais changer quelques trucs de ce cote là...

[2013-06-16 09:04] alecalve commented on #52
Le service MESSAGE est prêt et je me bat avec scoobydoo pour faire un module

[2013-06-16 12:02] apuyou commented on #169
On fermera quand il n'y aura plus rien dans les logs.

[2013-06-16 13:47] mattgu74 commented on #47
Avancement: Les specs du service ont été rédigés aujourd'hui.
Voici un lien vers le document (en lecture seule, commentaire autorisé).

https://docs.google.com/document/d/1DhuzD4K2p2tD58Kg_G3gpL5TO1E4YI4E7f_efpGDJNs/edit?usp=sharing

[2013-06-16 20:54] trecouvr opened #194 "ServiceBase.loginCas should return the login"
Plutôt que de renvoyer un booléen ça serait plus utile si loginCas renvoyait le login. Ça éviterai de faire un getStatus pour avoir cet info.

[2013-06-18 19:15] trecouvr opened #198 "Ajouter JSON RPC 2.0 comme protocole"
Maintenant que le protocole JSON RPC accepte le passage de paramètres nommés, il convient parfaitement à notre usage, ça serait bien de migrer vers ce protocole qui n'est pas beaucoup différent du notre actuel, mais à l'avantage d'être standard.

[2013-06-18 20:37] #191 closed, assigned to mattgu74

[2013-06-19 20:07] mattgu74 commented on #194
Done in #195

[2013-06-19 20:07] #194 closed, assigned to nobody

[2013-06-19 20:11] mattgu74 opened #200 "Renvoyer des infos sur l'app au retour de loginApp"
De la même manière qu'on a chanqué loginCas pour renvoyer le login de l'user.

Il pourrait être utile au retour de loginApp de renvoyer des infos sur cette dérniére.
En effet par exemple si on veut afficher dans Pauline (ou mozart) le nom de l'app actuellement connecté (son id etc...) il faut l'avoir enregistré au moment de la création en local storage, sinon il est quasiment impossible de les réc

[2013-06-21 10:10] mattgu74 opened #201 "Gestion des droits - ADMINRIGHT"
Lors de l'ajout de droit, sur un login invalide, les droits sont quand meme inséré en mettant usr_id = 0...

C'est ultra moche, il faut corriger ça.

[2013-06-21 21:29] mattgu74 opened #202 "Gestion des prix"
Il faut absolument que l'on gére mieux les prix, une modification d'un prix doit engendrer la suppression du prix actuel et la création d'un nouveau.

La table actuel hérité de buckutt, manque d'info et contient des colonnes inutiles pour nous... Il y'a vraiment moyen de l'améliorer.

Il faut ajouter une colonne "inserted" pour connaitre la date exacte d'entrée un vigueur d'un tarifs.

Il faut ajo

[2013-06-21 21:35] trecouvr commented on #202
Bien, je suis d'accord avec tout je crois bien ^^, je pense effectivement que au niveau client y'aura pas de modif à faire.

[2013-06-21 22:13] mattgu74 opened #203 "Mettre en place un processus d'archivage/anonymisation des tables"
Cette issue devrait résoudre plusieurs problèmes que nous n'avons pas encore, mais qu'on aura bientôt. Et la solution proposé (est ici qu'une proposition, j'ouvre à la discussion, une solution pour résoudre d'un coup toutes ces problématiques).

Les problèmes à résoudre:
- Anonymisation des données passé un certain temps
- Diminution de la taille des tables de travail (purchase, virement, user, pr

[2013-06-21 23:22] trecouvr commented on #203
Et dans 10 ans y'aura peut être un serveur 2^10 fois plus puissant ^^
On peut pas faire un test sur dev, genre on insert 1 million de purchases, 10K users, 5K objets, 100K recharge & paybox, puis regarder ce qu'il se passe ? ^^
Edit: ou alors plus simple on a pas l'évolution de l'utilisation en RAM et DISK de Mysq sur l'année ?

[2013-06-21 23:27] mattgu74 commented on #203
Moép enfin, tu peux toujours dire: Ok tant que ça tient je reste comme ça. Et le jour ou ça merde paniquer dans tous les sens et faire un fix à l'arrache parce que tout est en rade...

Ou sinon solution 2, tu fais un truc solide, optimisé et qui se nettoie tout seul, et du coup t'es tranquille quoi qu'il arrive, parce que tu sais que tu es toujours largement en dessous des capacités de la machine.

[2013-06-22 09:08] trecouvr commented on #203
Matthieu c'est bien toi qui parle là ? D'habitude t'es plutôt adepte de la solution 1 ou 3 ^^
Ce qu'il faut faire gaffe c'est les foreignkey, par exemple tu archives les purchases, pas de soucis tu peux copier la table. Par contre si tu commences à vouloir archiver les users, ça veut dire que dans ta table archive_purchase, tes usr_id doivent pouvoir pointer sur un user courant ou un user archivé.

[2013-06-22 11:11] mattgu74 commented on #203
bah si tu pointes sur la vue qui fait l'union des deux tables c'est bon... les tables d'archive si elles ont des foreign key tape sur les vue.

[2013-06-22 11:34] trecouvr commented on #203
Ça marche ça dans les contraintes innodb ? Une view on peut la voir comme une table dans phpmyadmin ?

[2013-06-22 13:57] mattgu74 commented on #203
Bah normalement oui...

[2013-06-22 18:31] apuyou commented on #203
Je pense qu'il faudrait faire quelques benchmarks (je sens que @trecouvr va être très bon pour ça), histoire de savoir si ça vaut vraiment le coup. MySQL est conçu pour gérer des tables avec des millions de lignes, le seul souci que je vois c'est effectivement la reconstruction des index à chaque insertion. Les SELECT ce sera toujours pareil à mon avis.

Si on veut archiver les ventes, je pense qu

[2013-06-22 21:54] #41 closed, assigned to mattgu74

[2013-06-22 22:38] #139 closed, assigned to mattgu74

[2013-06-23 11:20] apuyou opened #204 "Souci CAS"
Petit problème avec le CAS :
- aller sur casper et se logguer
- aller sur scoobydoo (bizarrement il demande de se logguer à nouveau)
- aller sur casper

Et on se retrouve alors avec la charte.

[2013-06-23 11:41] mattgu74 opened #205 "Logguer les exceptions"
Quand un service renvoit une exception, je voudrais qu'on la log...

Parce que:
1. Une exception c'est généralement une erreur (authentification ou autre)
2. Pour débuguer les clients, ça nous aiderait grandement, de connaitre les exceptions renvoyés par le serveur.

[2013-06-23 16:54] mattgu74 opened #208 "Erreur de retour lors des virements"
Lors d'un virement de 0€, j'ai cette erreur:

``Erreur n°465 : Destinataire du virement inexistant

La personne a qui vous souhaitez verser de l'argent n'existe pas...``

Au lieu d'avoir une erreur me disant que les virements nuls ne sont pas autorisés...

[2013-07-03 00:26] apuyou opened #211 "MessageUpdateFailedException"
Il me semble que `MessageUpdateFailedException` (utilisée [là](https://github.com/payutc/server/blob/b25939d8054e146799c04d023859f7c26ab7385a/src/Payutc/Bom/MsgPerso.php#L65) et [là](https://github.com/payutc/server/blob/5f6a62ff82d38a01abe116c93a1df2127fcff8c3/class/User.class.php#L273)) n'est définie nulle part.

Il faut créer le fichier dans le dossier Exception.

[2013-07-03 08:51] mattgu74 commented on #211
@alecalve

[2013-07-04 00:24] apuyou commented on #211
Closed in #212

[2013-07-04 00:24] #211 closed, assigned to nobody

[2013-07-04 00:53] apuyou opened #213 "Revoir le process d'annulation de vente"
Vérifier les contraintes sur l'annulation de vente et leur application :
- temps maximum après lequel un vendeur peut annuler une vente
- envoyer le badge pour la requête de l'annulation

Voir aussi : #112

[2013-07-04 01:03] mattgu74 opened #214 "Purchase: Changer le type du champ removed + ajouter une colonne "remover_usr_id""
Il faut que le champ removed soit une date et non un booléen.

Et il faut stocker le usr_id de la personne qui a annulé la vente (pour l'instant seul le vendeur à le droit de supprimer, mais selon l'issue #112 un droit spécial pour les trésoriers devrait permettre de la faire depuis scoobydoo)

[2013-07-04 01:22] mattgu74 opened #215 "Supprimer les droits des non cotisants"
Un non cotisants ne doit rien pouvoir faire (pas de virement, pas d'achat, pas de reception de virement, pas de rechargement...)

En fait:
A la connexion une erreur est renvoyé (pour les clients "ou l'user à la main", un message d'erreur avec un lien vers la plateforme pour cotiser en ligne du BDE, et pour les autres (mozart) une erreur normal "user non cotisant")

[2013-07-04 01:27] #168 closed, assigned to nobody

[2013-07-04 08:58] trecouvr commented on #213
Lorsque le trésorier annule il a pas le badge si ?

[2013-07-04 11:31] mattgu74 commented on #213
Ce ticket concerne les annulations depuis mozart. (donc pas les annulations trésorier depuis scoobydoo).
Et c'est un moyen de se rappeller qu'on doit étudier la question (=> Vérifier quels règles on veut appliquer, et enuite s'assurer qu'ont les aplliques bien...)

[2013-07-05 14:24] mattgu74 commented on #31
Cette issue sera fermable après la suppression des services "deprecated" POSS2/AADMIN/MADMIN

[2013-07-06 01:28] #38 closed, assigned to apuyou

[2013-07-06 02:10] apuyou commented on #33
Fixed in #216

[2013-07-06 02:10] #33 closed, assigned to apuyou

[2013-07-07 22:58] apuyou commented on #159
C'est done dans #220

[2013-07-07 22:58] #159 closed, assigned to apuyou

[2013-07-07 23:58] mattgu74 opened #221 "Gestion des paniers"
Ceci est un pré-requis au développement de vente web. Implémenter une table "transactions" permettant de grouper plusieurs "purchases".

Cela n'implique pas de nouveaux services.

[2013-07-08 00:11] apuyou commented on #126
Done in #216

[2013-07-08 00:11] #126 closed, assigned to nobody

[2013-07-08 00:14] apuyou commented on #169
Il n'y est plus.

[2013-07-08 00:14] #169 closed, assigned to nobody

[2013-07-08 14:29] apuyou commented on #221
Est-ce que je laisse les annulations par produit, ou bien je les fait par panier aussi ?

[2013-07-08 14:32] mattgu74 commented on #221
Dans moneywin c'était insupportable de ne pas pouvoir annuler item par item
et de devoir tout refaire...

Mais après pouvoir quand tu passes le badge sur mozart, voir une liste de
panier, et pouvoir au choix annuler le panier ou les items pourrait être
bien.

En tout cas il ne faut pas casser le fonctionnement actuel il est plus
pratique que d'annuler tout le panier et revendre les produits réelle

[2013-07-08 14:34] apuyou commented on #221
Je ne vais pas ajouter une méthode "pour plus tard", c'est pas mon genre ^^

Donc je laisse comme actuellement, annulation par article, ça me paraît plus pratique aussi :)

[2013-07-21 23:01] feuloren opened #225 "ADMINRIGHT/setUserRight rajoute le droit même si il est déjà présent"
Si quelqu'un a déjà le droit pour un service et une fondation et que j'appelle la fonction une nouvelle ligne sera rajoutée quand même dans la base.

d'après Matthieu ce n'est pas le comportement attendu et il faut renvoyer une exception dans ce cas

[2013-07-29 17:05] apuyou opened #227 "Corriger le test de #224"
On ne peut pas ré-ouvrir un PR donc je créé cette issue pour pouvoir assigner @feuloren :)

Après avoir réparé Travis, il apparaît que les tests de #224 ne passent pas en PHP 5.4 (histoire de références, comme d'habitude).

[code]

[2013-07-29 17:08] apuyou opened #228 "Passer Slim en 2.3"
D'après le site de Slim, la version 2.3 est rétro-compatible, mais apparemment la façon dont on récupère le logger ne marche plus.

J'ai bloqué Slim à la 2.2 dans Composer en attendant histoire de retourner le dépôt à un état stable avant tout, mais il faut regarder ça rapidement quand même.

[2013-08-10 15:31] apuyou commented on #227
#229 a été merge donc il ne manque plus que ça pour repasser Travis au vert :smile:

[2013-08-28 20:34] #225 closed, assigned to mattgu74

[2013-08-31 10:35] #227 closed, assigned to feuloren

[2013-08-31 10:40] feuloren commented on #61
https://github.com/payutc/server/issues/232
Mergé !

[2013-09-04 23:00] apuyou commented on #61
J'ai jeté un coup d'œil à #232 et ça me semble très bien :)

À vue de nez comme ça, il manque quand même avant de pouvoir l'utiliser (tu y as surement pensé @feuloren, mais je les note au cas où) :
- afficher les quantités dans casper
- afficher les quantités dans le CA (on est d'accord que le prix par ligne devrait déjà être bon)

Et pour plus tard :
- gérer les quantités dans mozart
- gérer les

[2013-09-05 11:57] mattgu74 commented on #54
Il faut attendre que l'on fige les comptes payutc, et que l'on configure paybox (ou payline) vers une adresse mail que l'on contrôle mieux...

[2013-09-09 12:17] apuyou opened #234 "Stock d'ecocup"
Permettre à chaque utilisateur d'avoir un stock d'ecocup.

Lorsqu'un utilisateur ramène un ecocup, son compte est crédité d'un ecocup (mais pas d'argent, pour éviter les vols). Il peut ensuite sortir un ecocup avec ce crédit.

[2013-09-12 00:34] trecouvr commented on #185
Actualisation: Pauline utilise POSS3 depuis fin Juin 2013

[2013-09-12 01:42] trecouvr commented on #152
On parle de quelle table la ?

[2013-09-12 02:42] trecouvr commented on #142
Done in POSS3

[2013-09-12 02:42] #142 closed, assigned to nobody

[2013-09-12 02:45] trecouvr commented on #157
Vu que actuellement on utilise de facon tres couplée les infos de l'utilisateur avec les dernieres transactions dans Mozart et Pauline, je pense que ca sert à rien de faire une fonction dédiée.

[2013-09-12 02:45] #157 closed, assigned to nobody

[2013-09-12 02:49] trecouvr commented on #180
Si on veut les stats de ce semestre dans l'etat actuel des choses ca marche pas : Y'a pas A13...

[2013-09-12 02:50] trecouvr commented on #184
En fait y'a pas de service tréso actuellement, tout est dans AADMIN, du coup il faut en créer un ?

[2013-09-12 03:00] trecouvr opened #239 "Use exceptions instead of return error in Bom\Product"

[2013-09-12 03:00] trecouvr opened #240 "Use exceptions instead of return error in Bom\Category"

[2013-09-12 03:02] trecouvr commented on #188
#239 et #240 pourront aider

[2013-09-12 08:52] mattgu74 commented on #149
As tu vérifié que le return était utilisé nul part dans le code ?

Parce que avant un `if($this->checkRight(...)) {`` marchait et donc il est possible qu'on en ait mis par endroit.
Même si tu as raison ça prête à confusion et ta PR est acceptable.

Mais du coup dans ce genre de cas, on fait quoi on accepte, et on réparera si ça a cassé à des endroits (ce sera l'occase de mettre des unit-tests sur

[2013-09-12 08:54] mattgu74 commented on #152
De toutes les tables... (enfin surtout celle ou il peut y avoir suppression)

[2013-09-12 09:05] mattgu74 commented on #180
En même temps il faudrait un vrai module stats non ? :-1:

Mais bon bref, je suis assigné sur cette issue, je ne l'oublie pas je m'y mettrais dès la semaine prochaine.

[2013-09-12 09:06] mattgu74 commented on #184
Oui

[2013-09-12 15:38] trecouvr commented on #152
Ok faudra juste faire gaffe à la compatibilité cote client en plus de toutes les requetes SQL qui utilisent removed = 1

[2013-09-12 15:43] #228 closed, assigned to nobody

[2013-09-12 16:06] trecouvr commented on #149
J'ai fait un `git grep checkRight` j'ai vu aucun `if`. Je pense qu'on avait déjà fait gaffe avant à pas utiliser de `if`

[2013-09-12 18:16] #156 closed, assigned to nobody

[2013-09-13 17:45] #149 closed, assigned to nobody

[2013-09-13 23:25] #153 closed, assigned to nobody

[2013-09-17 16:53] #201 closed, assigned to mattgu74

[2013-09-21 13:34] mattgu74 commented on #188
@trecouvr Si tu veux tu peux prendre cette issue ^^ (et me la désasigner)

[2013-09-21 15:57] #180 closed, assigned to mattgu74

[2013-09-21 21:12] trecouvr commented on #188
Nan nan ca va je t'en pris

[2013-09-21 23:38] trecouvr opened #244 "Passer PHP en 5.4 sur le serveur"

[2013-09-21 23:40] mattgu74 opened #245 "Stockage de donnée utilisateur par les fundations"
Pour #234, il est apparu que ce n'est pas à payutc de gérer des points très spécifiques liés spécifiquement à certaines associations.

Néanmoins il est légitime que certaine association veuillent stocker des informations sur les utilisateurs utilisant le service payutc.

Le point avait été également soulevé par Comet pour stocker un nombre de billets (place d'estu).

@trecouvr et moi même proposon

[2013-09-21 23:48] mattgu74 commented on #52
@alecalve des nouvelles ?

[2013-09-22 00:03] trecouvr commented on #42
Yop,

On utilise quoi comme transport ?
http://swiftmailer.org/docs/overview.html

J'aurais bien aimé le sendmailtransport pour que ca marche chez bous sans trop de config

Tchuss

[2013-09-22 08:21] alecalve commented on #52
J’ai eu des vacances et une rentrée chargées, mais je m’y remets dès que possible. En plus j’avais presque fini …

[2013-09-22 13:09] apuyou commented on #245
Ça me paraît honnête de vouloir garder une trace, surtout pour des ecocups ou des places. `udf_value`, tu le verrais de quel type ?

Si je ne m'abuse, on pourrait aussi utiliser cette table pour stocker des préférences des clients spécifiques aux utilisateurs/assos ?

Est-ce qu'on ajoute pas le `app_id` dans les colonnes aussi ? Genre le Pic fait une billetterie, l'appli billetterie doit pas pouvo

[2013-09-22 13:10] mattgu74 commented on #245
hum pour l'app_id je ne sais pas... Si tu as deux mozart ou mozart et pauline, tu veux que les deux puissent échanger les valeurs...

[2013-09-22 13:15] apuyou commented on #42
Le `Swift_SendmailTransport` nécessite de la config et `shell_exec`. Si on veut le truc le plus portable possible, il faut `Swift_MailTransport`. C'est ce qu'on fait pour le portail et ça ne me dérange pas de l'utiliser en prod.

[2013-09-22 13:29] mattgu74 commented on #245
Moi je dit qu'à partir du moment ou tu as donné le droit à une application d'accèder aux data, tu trust l'application.

Ou alors il faut ajouter le app_id, mais laisser le choix à l'application de protéger la donnée pour elle ou pas.

[2013-09-22 13:32] mattgu74 commented on #244
Thomas à oublié de justifier cette requête, je le fais donc:

C'est parce que payutc est majoritairement testé sur PHP 5.4, la majorité des tests impliquent un "@require php 5.4".
Du coup tant qu'on est en PHP 5.3 potentiellement une grande partie du projet n'est pas testé par Travis et il y'a donc peut être des bugs...

D'une certaine manière la requête ici est de passer le min_version de payutc

[2013-09-22 14:54] trecouvr commented on #42
OK, jamais eu de problèmes avec leur commentaire : 'Potentially unpredictable results; Provides extremely weak feedback' ? Moi ça me va c'est ultra portable et y'a besoin de 0 confit.

[2013-09-22 14:56] apuyou commented on #42
Avec une version de PHP récente, le comportement devrait être prévisible. Pour le feedback, je pense que c'est pas hyper important pour ce qu'on fait. Genre pour une tâche de fond, si un mail passe pas, on fait quoi ? On envoie un mail ? ^^

[2013-09-22 15:36] trecouvr commented on #245
Je pense que l'app_id ca peut etre pas mal, mais toutes ces histoires de droit ca commence a être compliqué pour l'utilisateur.
Vous voyez comment l'historique ? j'insert une nouvelle ligne a chaque fois ?

[2013-09-22 15:40] mattgu74 commented on #245
L'utilisateur final s'en branle... C'est plus pour le développeur.

##

Matthieu GUFFROY

Le 22 septembre 2013 17:36, Thomas Recouvreux notifications@github.com a
écrit :

[2013-09-22 15:42] mattgu74 commented on #245
Et tant que j'y suis, je suppose que quand tu dis que c'est compliqué c'est
parce qu'il faut donner les droits aux applis dans scoobydoo.
Mais on peut envisager une appli donneuse de droit, qui communique avec les
applis. Genre quand tu ouvres pauline si elle n'a pas les droits ça ouvre
un popup à la facebook indiquant les droits demandé et l'utilisateur doit
juste cliquer sur accepter (et se conn

[2013-09-22 19:51] trecouvr commented on #245
J'aime bien l'idée du pop up, a travailler cependant parce que par exemple pour Pauline c'est a un admin de donner les droits, pas juste à celui qui a installé l'appli, on pourrait imaginer que Pauline fait une espece de requette de droits, et que quand le mec se connecte dans scoobydoo il a plus qu'a accepter. C'est important que ca reste simple pour l'utilisateur parce que on est pas cencé être

[2013-09-28 12:57] mattgu74 opened #250 "Virement qui n'apparait pas dans l'historique"
En faisant des tests sur mon install de dev, j'ai du virer de l'argent pour pouvoir recharger de l'argent.

Et j'ai constaté que le virement en question n'apparaissait pas dans mon historique.
- J'ai fait un test avec d'autres virements qui eux apparaissent.
- J'ai été vérifié dans la base de données, le virement est bien effectif.
- Le problème semble donc venir de mon message sur le virement `vi

[2013-09-29 00:36] apuyou commented on #250
Ouais à tous les coups c'est le `;` vu que y'a du CSV partout dans les `ComplexData`.

[2013-09-29 13:01] mattgu74 opened #251 "Réécriture du service MADMIN"
`MADMIN` est l'un des derniers services qui :
- [x] a encore des requetes sql écrites dedans
- [x] n'utilise pas la connection d'application (loginApp)
- [x] utilise encore les `complexData` qui cause le bug #250

[2013-09-29 13:10] mattgu74 opened #252 "Ajouter le user_id et le app_id dans les logs."
Etant donné que `user_id` et `app_id` sont stockés en variable de session, on pourrait demander à la classe Log de les ajouter automatiquement aux logs comme elle le fait avec la date.

Globalement quand un log d'erreur ou de warning apparaît, ça peut toujours être utile de savoir à qui c'est arrivé et sur quelle application.

Actuellement on l'a quasiment oublié de tous les logs qu'on a fait... (

[2013-09-29 13:10] mattgu74 commented on #251
Linked to #31 et #40

[2013-09-29 13:24] mattgu74 opened #253 "VENTEWEB"
`VENTEWEB` est un nouveau service qui doit permettre aux associations de faire payer par payutc via internet.

L'exemple principal c'est des billetteries (Etuville, Comet, Skiutc).
ça peut aussi être des ventes de panier cac'carotte.

Pour certain montant (je pense au billet d'Etuville ou des voyages skiutc) il faut directement rediriger la personne pour qu'elle paie le montant directement.
Pour d

[2013-09-29 14:45] apuyou commented on #252
Ça me paraît très bien :)

[2013-09-29 21:07] apuyou opened #254 "Mettre des index et améliorer les clés étrangères"
Genre la table paybox, il n'y a pas d'index sur le `usr_id`, et il va bientôt y avoir des requêtes dessus à chaque ouverture de casper :'(

[2013-09-30 03:45] trecouvr commented on #252
On a créé une surcouche au loger c'est parfait pour ce genre de cas

[2013-10-01 20:44] mattgu74 commented on #61
Grâce à @feuloren et à #232 Le serveur gère maintenant les quantités, c'est donc une issue terminé.

[2013-10-01 20:44] #61 closed, assigned to feuloren

[2013-10-01 20:54] mattgu74 commented on #154
@apuyou  @trecouvr  Que pensez vous d'utiliser le Data Manager #246 pour stocker ces informations ?

ça implique de revoir la gestion des droits pour les données stockés, mais ça me semble adapté.

[2013-10-01 20:55] mattgu74 commented on #155
Parce qu'en relisant l'issue je ne trouve pas ça clair, je résume en : "Il faut exposer une méthode dans le futur service MADMIN qui permet à un user d'anonymiser son historique"

[2013-10-01 20:59] trecouvr commented on #154
Bof ExternalData c'est pour les données externes a payutc qui ne servent a rien au fonctionnement du serveur (style les ecocups).

[2013-10-01 21:09] mattgu74 commented on #154
Moép ça dépend à quel point on complexifie le DataManager. Bientôt on aura aussi a gérer les chartes d'utilisation de payutc (donc en plus de la confidentialité).

Donc si a chaque fois on crée des colonnes, on se retrouve avec un produit peut modulaire alors que si tout est géré par le DataManager c'est magique.

C'est comme l'alcool et l'info Majeur/Mineur je suis entrain de penser, c'est pas te

[2013-10-01 21:21] trecouvr commented on #154
Modulaire ca veut pas dire qu'il faut faire une table fourre tout clef/valeur.
De mon point de vue si on veut faire un truc avec des modules faut que chaque module aie ses propres tables, les tables peuvent avoir des foreignkey vers les tables du core ou des autres modules. C'est comme ca que fonctionnent OpenERP (logiciel de gestion de commerce) ou WordPress si je me trompe pas.
Si on veut se lan

[2013-10-01 21:22] mattgu74 commented on #204
A vérifier lors de la mise en Prod de cette semaine, mais je n'ai plus ce bug sur mon install de dev alors que je l'avais lors de l'ouverture de l'issue. Le problème à peut être été résolu inconsciemment.

[2013-10-02 21:37] apuyou opened #263 "RELOAD : état transaction à partir d'un token"
Lorsque l'utilisateur revient d'un rechargement avec Payline, casper a juste un token.

Il faudrait pouvoir donner un retour à l'utilisateur à partir de ce token.

[2013-10-03 12:15] apuyou opened #264 "Classe CAS"
Réécrire la classe pour le CAS en PSR-0, sans la dépendance pour le XML et en utilisant Curl au lieu de file_get_contents (pour une meilleur gestion des erreurs).

[2013-10-03 14:26] trecouvr commented on #264
Je préfererai utiliser un truc plus haut niveau, à voir si ca peut faire l'affaire http://phphttpclient.com/.
C'est quoi que tu appelles la dépendance pour le xml ?

[2013-10-03 17:24] apuyou commented on #264
Ça : https://github.com/payutc/server/blob/master/class/xmlToArrayParser.class.php

Dans PHP5 il y a un truc natif mieux.

Je suis chaud pour utiliser un truc plus haut niveau, l'API de Curl est vieille...

[2013-10-03 21:45] mattgu74 opened #267 "Autocomplete"
Il y'a une fonction dans ServiceBase qui permet de faire de l'autocomplete, il faut revoir la requete SQL.

[2013-10-04 00:22] mattgu74 opened #270 "Nombre de getWebPaymentDetail vers payline trop important"
Ma bidouille de "failover" (l'appel au moment du `getCredit` sur les transactions en attente, génère beaucoup de getWebPaymentDetail (en gros quand un utilisateur va sur payline puis ne rentre aucun numéro de carte et n'annule pas).

Son token reste valide longtemps, et si l'utilisateur se promène sur casper et bien il va lancer beaucoup de requete vers payline... Ce n'est pas optimale.

Ce compor

[2013-10-04 04:22] trecouvr commented on #253
On stock un truc dans la db quand c'est une vente directe ? On autorise les utilisateurs non inscrits sur payutc ?

[2013-10-04 04:27] trecouvr commented on #250
Fixed in #265 (casperv2)

[2013-10-04 04:28] trecouvr commented on #251
MADMIN a disparu avec tous les problèmes cités depuis #265 (casperv2)

[2013-10-04 04:28] #251 closed, assigned to nobody

[2013-10-04 04:28] #250 closed, assigned to nobody

[2013-10-04 10:20] mattgu74 commented on #253
OUI

##

Matthieu GUFFROY

2013/10/4 Thomas Recouvreux notifications@github.com

[2013-10-04 16:38] trecouvr commented on #253
On stock quoi dans la db du coup ?

[2013-10-04 18:41] trecouvr commented on #208
Fixed in #265

[2013-10-04 18:41] #208 closed, assigned to nobody

[2013-10-04 18:47] trecouvr commented on #204
Pas de probleme sur payutc_dev, probablement fixé par #265

[2013-10-05 13:46] apuyou opened #274 "Retour en cas d'image inexistante"
Dans POSS3, si `getImage64` ne trouve pas une image, il renvoie une exception donc une erreur 500.

Il faudrait renvoyer 404, ou au moins une exception mieux pour que le client puisse l'identifier.

Voir https://github.com/payutc/pauline/issues/19

[2013-10-06 11:16] apuyou commented on #204
Je n'ai jamais eu le souci sur dev, mais il ne semble plus présent en production non plus donc on peut dire que c'est bon en effet :)

[2013-10-06 11:16] #204 closed, assigned to apuyou

[2013-10-06 14:21] apuyou opened #275 "Documentation API"
Parce que comme l'a dit @kofronpi, une API sans documentation n'est pas une API. Du coup il faudrait une doc pour chaque service, qui idéalement puisse être mise à jour assez facilement (du genre on a juste a mettre les explications sur les méthodes qu'on rajoute).

Quelques pistes :
- http://apiary.io
- https://developers.helloreverb.com/swagger/

[2013-10-09 16:05] #252 closed, assigned to nobody

[2013-10-09 18:58] apuyou opened #277 "Retour Payline avec token expiré"
Lorsqu'un utilisateur affiche casper et qu'il lui reste des rechargements en attente, une requête est faite vers Payline pour récupérer les infos sur son rechargement.

Si la transaction a été abandonnée (l'utilisateur n'a rien saisi et a fermé la page), le token est effacé de chez Payline. Le retour de l'API a le code d'erreur 02304 (Invalid Transaction – No transaction found for this token). Dan

[2013-10-12 03:22] trecouvr commented on #198
Abandonné

[2013-10-12 03:22] #198 closed, assigned to nobody

[2013-10-12 03:23] #264 closed, assigned to nobody

[2013-10-14 14:53] apuyou opened #278 "Logs de Payline"
Il faudrait arriver à les faire passer dans Monolog, car là actuellement il y a deux fichiers log par jour du coup.

[2013-10-29 01:11] mattgu74 opened #284 "Tester et nettoyer Application.class.php"
- [ ] Déplacer Application.class.php dans `Payutc\Bom\Application`
- [ ] Remplacer toutes les requêtes en `db_buckutt` par des appels `Dbal`
- [ ] Ecrire des tests unitaires pour les différentes méthodes

[2013-10-29 01:13] mattgu74 commented on #278
Moai, c'est meme pire que ça...
Moi j'ai deux fichiers de log aussi, mais dans l'ancien je n'ai pas que payline, j'ai toujours ce qui est des logs on va dire supérieur au level "info".

Et j'ai un nouveau fichier qui vient dans le dossier web (j'aimerais bien savoir pourquoi d'ailleurs ?) et qui ne semble contenir que les logs de niveau `debug`...

Bref c'est l'anarchie... @trecouvr  tu nous expli

[2013-10-29 01:15] mattgu74 commented on #274
Ou une image par défaut ?

Bon je sais dans le cas de Pauline, ça serait de la bande passante pour rien...

[2013-10-29 01:16] mattgu74 commented on #284
Pour terminer #158, #284 (ce ticket) est un prérequis.

[2013-10-29 01:39] apuyou commented on #274
L'image par défaut doit clairement être gérée par le client. C'est déjà le cas avec Pauline actuellement.

[2013-10-29 22:10] trecouvr commented on #278
Avant le nouveau system de log, les logs étaient écrit par chance dans le meme fichier que payline. Peut etre que tu n'a pas supprimé les anciens logs. Pour les logs dans web c'est bizar je t'avoue ^^

[2013-10-29 22:19] apuyou commented on #278
Comment je dois faire pour avoir les logs debug ?

[2013-10-29 22:34] trecouvr commented on #278
https://github.com/payutc/server/blob/master/config.inc.dist.php#L74 quand tu met dev ca va activer le debug. Tu as 3 modes : DEV, PRD, et TST.

[2013-10-29 22:40] apuyou commented on #278
Avec DEV j'ai pas le debug, je vais essayer TST.

[2013-10-31 14:49] mattgu74 opened #288 "Documenter le processus de WEBSALE"
De manière à faciliter l'adoption par les associations du module permettant d'encaisser de l'argent par internet. Il faudrait documenter notre api et expliquer comment ça fonctionne.

[2013-10-31 15:19] trecouvr opened #289 "Ajouter les transactions "removed" à l'historique"
Je trouve ça bien que les utilisateurs puissent voir les transactions annulées, parce que quand je demande au pic de m'annuler une transaction je m'en souviens, du coup je suis content de voir sur mon casper qu'une annulation a eu lieu.

[2013-10-31 15:58] trecouvr commented on #288
Un lovely chart c'est cool, sinon Dia ca passe aussi c'est juste que les dessins seront plus moches.

[2013-10-31 16:01] apuyou commented on #288
Là il faut surtout utiliser https://www.websequencediagrams.com à mon avis :)

[2013-10-31 16:04] trecouvr commented on #288
Ah ouai y'a celui là aussi qui est cool. Ca sera parfait un diagramme de séquence.

[2013-10-31 16:11] trecouvr commented on #288
Faudrait ajouter à ça une doc sur les différents états d'une transaction et ce qu'ils signifient.

[2013-11-03 05:21] trecouvr commented on #205
Fixed in #266

[2013-11-03 05:21] #205 closed, assigned to nobody

[2013-11-03 17:52] #278 closed, assigned to nobody

[2013-11-03 18:11] trecouvr commented on #278
Avec DEV tu devrais avoir le debug, TST c'est utilisé seulement lors des tests, il faut pas que tu l'utilises en temps que developpeur.

[2013-11-10 16:50] apuyou commented on #221
Done dans #283

[2013-11-10 16:50] #221 closed, assigned to apuyou

[2013-11-10 17:02] apuyou opened #298 "Gestion des réductions"
Pour le Polar, il faudrait pouvoir que le client spécifie un % de réduction avec une ligne d'une transaction, qui serait retirée du sous-total.

[2013-11-10 17:08] apuyou commented on #31
POSS2, AADMIN et MADMIN ont été supprimés

[2013-11-10 17:08] #31 closed, assigned to nobody

[2013-11-10 17:11] apuyou commented on #253
Fait dans #286

Pour répondre à la question de Thomas, on a rajouté une colonne `tra_id` dans la table `t_paybox_pay`.
- Si `usr_id` est présent, c'est un rechargement. À l'issue du paiement CB, il faut créditer le compte de l'utilisateur.
- Si `tra_id` est présent, c'est une transaction. Dans ce cas, si `usr_id` est présent, c'est débité de son compte (qu'on vient de recharger), sinon on vérifie

[2013-11-10 17:11] #253 closed, assigned to nobody

[2013-11-10 17:36] apuyou commented on #40
Il n'y a plus de SQL dans les services. Le SQL pas encore en Dbal qui reste dans les autres classes sera traité dans #158

[2013-11-10 17:36] #40 closed, assigned to nobody

[2013-11-17 21:34] trecouvr commented on #298
On stock dans la db la reduc ?
Pour rappel la table purchase ressemble actuellement à ça :
tra_id
obj_id
pur_qte
pur_unit_price
pur_price
pur_removed

[2013-11-17 21:36] apuyou commented on #298
Pour moi :
- la réduction va dans une colonne `pur_reduction` (un float)
- la colonne `pur_unit_price` ne change pas
- la colonne `pur_price` est calculée avec la réduction

[2013-11-18 11:31] mattgu74 commented on #298
La réduction est donc passé par le client ? De manière à éviter les erreurs, ne faudrait-il pas pouvoir configurer pour chaque article la réduction maximale ?

[2013-11-18 12:24] apuyou commented on #298
Ça me paraît lourd comme option, si on fait confiance au client pour dire s'il doit y avoir réduction ou non (quel que soit le montant), alors on lui fait confiance pour gérer ça sans erreurs...

[2013-11-19 00:55] apuyou commented on #8
Pour info :

[code]

[2013-11-26 21:16] feuloren commented on #298
Je m'occupe de ça,
il faut que je garde la compatibilité avec quels clients ?

[2013-11-26 21:22] apuyou commented on #298
Tous ?

J'ai un doute en fait, est-ce qu'on peut avoir des paramètres facultatifs ?

Si oui c'est ça qu'il faut faire, sinon est-ce qu'on modifie POSS3 ou bien on fait une méthode `transactionWithReduc` ?

[2013-11-26 22:54] trecouvr commented on #298
On peut faire des paramètres optionnels. JSON dispatcher le gère très bien, pour le soap je crois qu'il met bull si tu donnes pas de parametre

[2013-11-26 23:05] feuloren commented on #298
Y a pas besoin de paramètre optionnel, le paramètre obj_id est un chaîne de caractère.

[2013-11-27 12:22] feuloren commented on #298
Fait dans #305

[2013-12-04 02:44] feuloren opened #307 "Suppression d'une transaction"
Il y a en fait deux morceaux:
_ pouvoir supprimer une transaction à partir de son id (et pas ligne par ligne comme dans POSS3::cancel)
_ que le trésorier de la fondation puisse supprimer une transaction

La fonction n'irait sans doute pas dans POSS3 mais dans un service à part (j'aurais bien dit AADMIN mais ça n'existe plus)

Cette fonction nous servirait au Polar pour corriger une erreur de vente

[2013-12-05 14:42] apuyou opened #308 "Mode maintenace"
Ajouter un paramètre de config maintenance. Lorsqu'il est activé, le serveur renvoie une exception spécifique sans essayer de faire quoi que ce soit.

Ensuite, gérer cette exception dans casper (en renvoyant vers la page maintenance).

[2013-12-21 19:59] #298 closed, assigned to feuloren

[2014-01-17 19:31] mattgu74 opened #313 "Créer un client "Welcome Devellopers""
Ce client serait a connecter sur payutc-dev, pour permettre aux développeurs d'obtenir un set de paramètres pour tester leurs applis.

En gros ils se connectent et ils peuvent créer une fundation et obtiennent les droits "super admin" dessus.

[2014-01-18 06:27] mattgu74 commented on #313
ça pourrait être basé sur un nouveau service ADMIN qui permet notamment la création d'une fundation. En donnant les droits à "TOUS" sur le serveur de dev, ça permettrait à n'importe qui de se lancer sans avoir à attendre qu'on approuve.

Et en prod, en autorisant uniquement les ADMINS, ça permettrait de faciliter la création d'une nouvelle fundation (sans avoir à aller farfouiller dans la base de

[2014-01-18 18:35] feuloren commented on #313
Au passage est-ce qu'il serait possible (et souhaitable ?) d'ajouter une méthode qui renvoie toutes les méthodes disponibles sur un service ?
Je pensais développer une "console" payutc pour le site du Polar et ça pourrait aussi être utile dans une optique de découverte de Payutc.

[2014-01-18 18:42] mattgu74 commented on #313
Je ne suis pas contre, et je pense que ça rentre d'une certaine manière dans l'issue #275

[2014-01-19 18:35] trecouvr commented on #308
Done in #314

[2014-01-19 18:35] #308 closed, assigned to nobody

[2014-02-04 14:43] mattgu74 opened #318 "Créer un droit (donc un service) ANNULATION"
Une interface à venir dans scoobydoo permettra aux responsables d'annuler a posteriori des ventes.

Ceci va de paire avec le module REVERSEMENT (en effet, il ne faut pas pouvoir annuler des ventes d'une période déjà reversé).

[2014-02-09 00:17] apuyou commented on #288
https://github.com/payutc/server/wiki/Web-Payment

[2014-02-09 00:17] #288 closed, assigned to mattgu74

[2014-02-12 14:24] kofronpi opened #322 "Create a vagrant dev environment"
Create a Vagrant dev environment for payutc devs, which allows to :
- Develop anywhere, independently from their machines/env configuration
- Develop on any Payutc module
- Have minimum (ideally zero) config to do once the VM is up and running
- If a minimum config is needed, it should be documented

[2014-02-22 21:19] apuyou opened #324 "Harmoniser le format des fichiers de configuration"
Modifier les fichiers de configuration du serveur et de tous les clients de base (scoobydoo, casper, mais pas mozart, c'est pas nécessaire) pour qu'ils soient dans un format standard, en JSON par exemple.

[2014-02-22 21:37] apuyou commented on #322
You can keep on the progress in the new vagrant repo : https://github.com/payutc/vagrant

It is currently WIP, mostly because the configuration is not automated as I am waiting for #324 to be completed.

[2014-02-22 22:56] trecouvr opened #326 "Upgrade payline sdk"
Following the comments on #317, the sdk should be upgraded.

[2014-03-11 02:30] trecouvr commented on #324
server et casper utilisent `$_CONFIG["server_url"] = "http://localhost/payutc/web/";`, scooby et mozart `$_CONF = array(..)`, quelqu'un a-t-il une préférence ?

[2014-03-11 04:55] trecouvr commented on #313
https://github.com/payutc/payutcli

[2014-03-11 09:25] apuyou commented on #324
Clairement `$_CONFIG["server_url"] = "http://localhost/payutc/web/";` qui est beaucoup plus facile à versionner et rend mieux quand on met des commentaires.

[2014-03-11 10:17] apuyou opened #329 "Purger les transactions waiting"
Certaines transactions restent à W, ce qui fait qu'un client va devoir continuer à vérifier leur état. Il faudrait qu'une transaction à W pendant plus d'un certain temps passe à A (après l'expiration du token de Payline par exemple).

[2014-03-12 14:25] mattgu74 opened #330 "Solde des fundations"
Ajouter une colonne 'fun_solde' dans la table 't_fundation_fun' représentant le solde encaissé et non reversé à la fundation.

[2014-03-12 14:41] feuloren commented on #330
Et tu le modifies à chaque transaction validée ?
la fonction getRevenue dans stats fait déjà ça, et plus si besoin.

Le 12 mars 2014 15:25, Matthieu Guffroy notifications@github.com a écrit :

##

Florent Thévenet
Étudiant Ingénieur UTC - Génie Informatique
Président du Polar UTC
06.63.46.92.46

[2014-03-12 14:54] mattgu74 commented on #330
Moép enfait je suis un peu dans le flou dans ma tête ^^

Je suis entrain de voir pour améliorer la partie gestion administrative de
payutc (en terme de reversement d'argent aux assos).

Et du coup, il y'a non seulement l'argent de l'assos, mais il y'a l'argent
déjà reversé et donc l'argent de l'assos.
Non seulement ça permet de diminuer la compléxité de la requete et évite de
recalculer en permane

[2014-03-12 21:31] mattgu74 opened #331 "Refresh de l'etat de cotisation d'un user"
Lorsque notre situation "cotisant ou non" change dans Ginger, il faut se déconnecter/reconnecter de casper pour voir la modification.

Je pense que l'appel à `User::canReload()` devrait forcer l'appel à Ginger lorsque l'user concerné est non cotisant.

[2014-03-12 22:11] #326 closed, assigned to nobody

[2014-03-13 00:02] mattgu74 opened #335 "Travis"
Dites moi si je me trompe, mais j'ai l'impression de ne plus voir travis quand je fais des PR.

[2014-03-15 14:51] mattgu74 commented on #335
Finalement je revois travis... J'ai du halluciner...

[2014-03-15 14:51] #335 closed, assigned to nobody

[2014-03-21 14:10] mattgu74 opened #337 "Retirer le service VENTEWEB de Adminright"
https://github.com/payutc/server/blob/master/src/Payutc/Service/ADMINRIGHT.php#L53

Dans ADMINRIGHT, un service `VENTEWEB` est défini hors en fait il n'est pas codé et c'est `WEBSALE` qui fait le boulot. Il faudrait donc faire une PR qui efface les lignes concernant ce faux service qu'est `VENTEWEB`.

[2014-03-23 12:56] mattgu74 opened #338 "Supprimer les derniers reste SOAP"
src/Payutc/Dispatcher/Soap.php
src/Payutc/WebApp.php

[2014-03-23 14:09] mattgu74 commented on #52
@alecalve : Avec la réouverture prochaine du pic, ce serait bien de terminer ce que tu as commencé, je suis sur qu'il ne manque pas grand chose.

[2014-03-23 14:11] mattgu74 commented on #125
Des transactions ont été mises partout ou c'est critique (et même ailleurs).
Je ne pense pas que garder cette issue ouverte soit utile.

[2014-03-23 14:11] #125 closed, assigned to nobody

[2014-03-23 15:38] #337 closed, assigned to nobody

[2014-03-23 17:24] alecalve commented on #52
fait dans #316

[2014-03-23 17:27] #52 closed, assigned to alecalve

[2014-04-04 10:29] apuyou commented on #8
Et aussi pour faire un journal des ventes (je me garde cette issue sous la main) :

[code]

[2014-04-04 17:17] mattgu74 opened #342 "Ajouter un champ "mail" dans la table fundation"
Certaines actions méritant des mails automatiques à la fundation, implique de connaitre l'adresse mail de la fundation.

Je pense nottament au mail lorsqu'un reversement est effectué.

[2014-04-04 17:20] apuyou commented on #342
À faire uniquement quand les dites actions seront implémentées

[2014-04-06 16:31] #185 closed, assigned to nobody

[2014-04-09 21:17] #338 closed, assigned to nobody

[2014-04-18 09:43] mattgu74 opened #344 "Gestion de promotion sur groupes d'articles"
Le pic voudrait appliquer des promotions si des articles formant un menu sont pris ensemble.

Genre "Pampryl + (thé/café) + (croissant/pain au choc)"

@feuloren Etant donné que tu as déjà implémenté un système de réduction, j'aimerais avoir ton avis.

Je ne sais pas si c'est implémenté directement dans payutc/server du coup, c'est peut être à mozart d'envoyer la réduction, mais pour cela il faudra

[2014-04-18 09:52] apuyou commented on #344
Cette fonctionnalité était présente dans BuckUTT, il faut voir s'il ne reste pas des traces dans la DB (que ce soit pour les réutiliser ou pour les retirer complètement si on part sur autre chose).

[2014-04-18 13:24] kofronpi commented on #344
AMHA, ça me parait bizarre de laisser le client gérer ça. Pour moi le serveur devrait envoyer des articles qui sont en fait des "packages" promotionnels  précalculés OU des règles de réductions à prendre en compte ( je préfère cette solution même si elle me donne plus de travail !)

[2014-04-18 13:39] mattgu74 commented on #344
Enfait, ça dépend comment tu positionnes payutc.

Si tu considères que c'est avant tout une plateforme/moyen de paiement, ce n'est pas son rôle de gérer la logique des réductions. C'est d'ailleurs ce qui a été réalisé avec l'implémentation actuel des réductions pour le Polar qui permet au moment de la création d'une transaction d'indiquer un pourcentage de réduction pour une ligne donné (tuple: pr

[2014-04-18 14:06] feuloren commented on #344
Question complexe...

Du point de vue "payutc" le serveur n'a pas à gérer ça, il faut utiliser
l'architecture de réduction en place.

Mais du point de vue utilisateur ce serait bien d'avoir une note "menu XY"
à côté des achats correspondant. (BTW la réduction est affichée sur casper
?)

Après il faudrait savoir si d'autres assos compte utiliser cette fonction.
Si oui ça peut s'intégrer dans Mozart

[2014-04-30 20:16] mattgu74 opened #346 "Uniformiser les Boms Category et Product"
Les Boms Category et Product ont des méthodes très similaires (et pour cause les données sont stockés dans la même table).

Il faudrait donc uniformiser les deux Boms (voir les faire hériter d'un Bom parent "Object").

Et au passage, y'a du DbBuckutt qui traine dans ces deux classes.

[2014-05-01 08:12] trecouvr commented on #346
Le nom "Objet" est a éviter pour nommer une classe.

[2014-05-01 11:48] mattgu74 opened #350 "Purchase::transaction est utilisé nul part (a part dans un test)"

[2014-05-01 16:54] #103 closed, assigned to nobody

[2014-05-10 23:06] mattgu74 commented on #330
Je ferme cet issue, le solde est actuellement calculé et affiché via le Service TRESO et ça marche très bien.

[2014-05-10 23:06] #330 closed, assigned to nobody

[2014-05-10 23:09] mattgu74 commented on #215
Je ne sais toujours pas si l'on veut pas qu'il puisse payer. ça évite quand même pas mal de soucis le fait qu'il puisse terminer son solde.

Par contre, très clairement il faut empêcher la réception de virement, il semblerait qu'actuellement des étudiants aient détournés l'usage du virement pour recharger sans être cotisant.

(J'ajoute donc le label "PRIORITAIRE" sur cet issue)

[2014-05-10 23:11] mattgu74 commented on #47
Il y'a encore quelque amélioration ergonomique à faire dans scoobydoo, mais l'issue en elle même est terminé depuis le merge de #343

[2014-05-10 23:11] #47 closed, assigned to mattgu74

[2014-05-10 23:11] mattgu74 commented on #184
Implémenté dans #343

[2014-05-10 23:11] #184 closed, assigned to mattgu74